[2019-05-06 14:19] fmvilas opened #3 "Passing empty string to parse raises fatal error"
### What?
If you pass an empty string to the `parse` method, it breaks.

Example:
[code]

It looks like it's related to the Go parser though as I see Go stuff:

[code]

[2019-08-03 02:04] rmelian opened #8 "Native JS Parser: Encapsulate access to AsyncAPI"
it’d be great to think about the API to retrieve useful information without having to know the structure of the document

something like .getMessages, getServers, getChannels, etc…

The idea is that, if at some point there’s a breaking change in the spec, the `.getMessages` call (for example) remains the same.

**Extracted from a conversation with @fmvilas**

[2019-08-06 15:10] fmvilas commented on #8
Starting work on this issue.

[2019-08-13 16:28] fmvilas opened #10 "List down manual validations"
The JSON Schema version of the spec is capable of validating many things, however, many others are impossible or very complicated to express. We should carefully read the spec and create a list of all the restrictions/validations that should be applied aside from the JSON Schema ones.

## List

- [~~Message examples are valid messages. Not sure if ajv is performing this validation on the schema `e

[2019-08-13 21:29] rmelian opened #11 "parser fails when using oneOf"
The following example fails:
[code]

with error
[code]

[2019-08-14 11:58] fmvilas commented on #11
Uhm! Weird. Are you sure it's just when using `oneOf`? Or is it happening always?

[2019-08-14 13:39] rmelian commented on #11
only oneOf failing, you can see an example here https://github.com/asyncapi/parser-js/pull/13

[2019-08-14 16:57] fmvilas commented on #11
Copying here the comment that I left on the PR:

Not sure what the problem is but I just tested it on the #12 branch and it's not failing anymore. Thanks for this PR anyway 👍

[2019-08-14 16:57] #11 closed

[2019-08-14 16:58] #8 closed

[2019-08-21 11:56] fmvilas commented on #3
It's fixed on the new parser. Closing.

[2019-08-21 11:56] #3 closed

[2019-08-27 15:32] fmvilas opened #21 "Add bindings to server object"
Version 2.0.0-rc2 introduces bindings at server level. We should add the `bindings` and `binding(name)` methods.

[2019-08-27 17:25] #21 closed

[2019-08-29 07:41] jdall opened #23 "Error: Document has to be either JSON or YAML."
Apparently there is an error in my document, as the generator spews out:
[code]
Please consider changing the message to something a bit more helpful. E.g. like the playground does it:
[code]
Provided with this message, it was really easy to fix the issue.

Running ag v0.12.0

[2019-08-29 07:45] fmvilas commented on #23
Agree. That's not helpful. Thanks!

[2019-08-29 07:50] jdall commented on #23
If the following message could also be improved, it would be really nice:
[code]

[2019-09-03 06:23] jdall opened #24 "MIssing validation of channel parameters"
It would be nice if the parser could validate channel parameters
Having e.g.
[code]
without the parameters being specified like e.g.
[code]
should result in the parser bailing out - with a useful error message.
Please consider this.
Thanks.

[2019-09-03 08:28] fmvilas commented on #24
Absolutely agree. Side note: take into account that new syntax for parameters is going to be like this:

[code]

Parameters is now a map instead of an array.

[2019-09-03 08:38] jdall commented on #24
Thanks, @fmvilas .

What's the ETA of this new syntax?

And just as a side note: I cannot locate a description of the schema.type element in the asyncapi docs

[2019-09-03 08:41] fmvilas commented on #24
It's already out: https://github.com/asyncapi/asyncapi/releases/tag/2.0.0-rc2.

You can't find Schema type because Schema is a superset of JSON Schema Draft 07: https://github.com/asyncapi/asyncapi/blob/master/versions/next/asyncapi.md#properties. Refer to JSON Schema Draft 07 docs instead.

[2019-09-03 08:55] jdall commented on #24
Got it, @fmvilas.

Thank you for you informative comments.

I understand that the Schema is defined elsewhere, but shouldn't the list of properties of the schema object at least mention the 'type' and other mandatory properties. Not having it in there  makes it a little less straight forward to grasp the spec.

[2019-09-03 09:05] fmvilas commented on #24
What do you mean by "mention"? It's mentioned there (the second on the list) and there's a link to JSON Schema specification one paragraph above: https://github.com/asyncapi/asyncapi/blob/master/versions/next/asyncapi.md#schema-object.

It says:

Keep in mind this is AsyncAPI **specification**. It's not meant to be a getting started guide or a tutorial. The specification must remain formal, and we

[2019-09-03 09:13] jdall commented on #24
I understand your confusion. My bad.

I hadn't realised that rc2 docs were in fact available. The asyncapi home page only references rc1, and that page has been my entry point to the specs so far.

Please consider updating the home page to reflect the availability of the rc2 spec.

[2019-09-03 09:30] fmvilas commented on #24
Yes, I have to make it clear that the website is not the source of truth. It may have been a bad idea to put the spec there. Thanks and sorry for creating this confusion.

[2019-09-03 09:51] jdall commented on #24
No worries.
You and others are doing a great job in developing asyncapi.
Working with bleeding edge, there are bound to be some hickups here and there, but with the level of support you provide, they are not that big a deal.

Thank you for making it possible to specify broker based APIs in such a great way!

[2019-09-03 10:28] fmvilas commented on #24
Thanks for your kind words ☺️

[2019-09-06 14:45] fmvilas opened #25 "Missing Schema#additionalItems"
https://json-schema.org/latest/json-schema-validation.html#rfc.section.6.4.2

[2019-09-06 19:18] #25 closed

[2019-09-06 20:06] fmvilas commented on #23
@jdall both error messages have been improved in the latest version. I'm closing this issue but let me know if something goes wrong. Thanks!

[2019-09-06 20:06] #23 closed

[2019-09-09 13:41] jdall commented on #23
Thanks.
Great work - it's a lot more helpful now.

But something is a bit odd...
When generating html, I get the following error:
[code]
I have yet to decide if something is missing in our A2S file... though generating markdown succeds.

But back to the oddity... the 'html/.partials/operations.html' file can't have an error at line 28, as it only has 15 lines...

I'm using ag v0.15.1

[2019-09-09 15:44] fmvilas commented on #23
Yes, that's something I'm experiencing too and it's related to Nunjucks. Maybe you should open an issue on their repo? I'll try to guess what's happening in the meantime. Thanks!

[2019-09-11 11:08] jdall opened #26 "asyncapi.components().messages() is undefined when message ref'ed is in other file"
I have in a template as follows:
[code]
When executed on the following localref.yaml file:
[code]
the output is:
[code]

But when executed on a globalref.yaml file, that references a message defined in another file, I get an error.
Content of the globalref.yaml file is:
[code]
Content of the common.yaml file is:
[code]
The error shown is:
[code]
I would expect the asyncapi.components().messages()

[2019-09-11 16:36] jdall commented on #23
It appears that this html generation error is no longer present when using ag v0.16.0

[2019-10-24 06:59] fmvilas commented on #26
I'm starting work on this issue. If anyone has further feedback please let me know.

[2019-10-30 08:19] #26 closed

[2019-11-05 17:53] fmvilas opened #28 "Add hasParameters to Channel object"
It would be great to have a convenient method for the Channel object to check if it has parameters defined. Something like:

[code]

[2019-12-01 13:28] jonaslagoni opened #29 "allSchemas and allMessages does not return expected keys"
Given the following input:
[code]
I would expect them to have the key `lightMeasuredPayload` and `turnOnOffPayload` however, they get these `anonymous-schema-x` names.

The unit test for the method should also be changed.
https://github.com/asyncapi/parser-js/blob/abf06b18e9942825e5342f386a57ef5e6101ec30/test/models/asyncapi_test.js#L172-L181

This problem is also present when calling `allMessages

[2019-12-06 16:55] jonaslagoni commented on #29
While taking a look at the issue, I came upon the following scenario:

Given the following AsyncAPI document:
[code]

[2019-12-21 20:06] #29 closed

[2020-01-07 19:33] jonaslagoni opened #32 "allSchemas does not return array items."
Given the following AsyncAPI files:
Visualizer.json
[code]
processedSpotPrices.json
[code]
processedSpotPricesSchema.json
[code]

I would expect `allSchemas` function to return an array of `allProcessedSpotPricesSchema` and `processedSpotPricesSchema` however, only `allProcessedSpotPricesSchema` is returned.

If you see anything wrong with my json files let me know!

[2020-01-08 10:54] fmvilas commented on #32
I can't see anything wrong with your AsyncAPI files. When you say you expect `processedSpotPricesSchema` too, you mean this one?

processedSpotPricesSchema.json

[code]

If that's the case, it's very hard from the parser point of view to distinguish what schemas are relevant or are just part of another schema. For instance:

[code]

In this case, you don't want `test1` to be listed as a schema. It

[2020-01-08 21:16] jonaslagoni commented on #32
Yes, it is indeed the schema I mean. You are right all schemas should not be included however schames with type `object` and `array` should in my opinion be included in the `allSchemas()` function. However since this is only in my use-case with the generator where I want to be able to generate all schemas into separate files (A class for each).

I guess it all comes down to the requirements for th

[2020-01-21 19:07] fmvilas commented on #32
As discussed today, maybe the best way is to have this function return every single schema, independently of its type. Then, on the generator, we can have another method to retrieve only the ones of type "object". Thoughts?

[2020-01-22 16:11] AistisT opened #33 "Custom schema and its parsing"
This might be daft, but I'm a bit puzzled.
How does one uses custom schema that is based on AsyncApi one. I assume I need a custom parser, but what's the role of the parser?

After registering custom parser, how does one call parse? Parser.parse() has no clue about custom parsers there were registered.
Is it expected for iterateDocument() to be used instead of parse with custom parser?

Also I'm b

[2020-01-22 16:33] fmvilas commented on #33
Oh sorry for the confusion. This is not yet documented but it works more or less like this:

[code]

This is an example of how our OpenAPI parser works: https://github.com/asyncapi/parser-js/blob/master/lib/schema-parsers/openapi.js.

That said, if you want to extract your parser to another file, move the `yourFunctionToParseYourSchemaFormat` to another file and require it. Like this:

[code]

The

[2020-01-22 16:50] AistisT commented on #33
It does help somewhat, so schemas are registered by mime type? But how does it know where to look for files matching it.
Say we have following project directory  setup:
Root containing src folder which contains templates and schema folders.
I am able to pass template folder when creating generator, but parser is not part of generator nor the paths are the same. So how would it know to look in root

[2020-01-23 13:09] AistisT commented on #33
I've been playing around, and I'm slowly getting a grasp. Still unsure how schemas are picked up based on mime types when registering them.
I now know what parser should do, transform to asyncapi expected schema, which I think is wrong, that should not be forced upon. Its extra work for anyone that wants to change asyncapi field to myschema field, let json validator do its validating.

Why enforce

[2020-02-02 19:19] jonaslagoni commented on #32
Yea agreed. Noticed that schemas in an anyOf would only return the anyOf schema and 1 of the schemas 🤔 I guess (without checking) this is also a problem for allOf and oneOf.

**Example**

AsyncAPIFile.yml
[code]
messages.yml
[code]
schema.yml
[code]
Would only return **response** and the **anyOf** schema.
[code]

[2020-02-05 10:16] fmvilas commented on #33
Sorry for the late reply. The reason we're transforming to JSON Schema is that this will become easier for the rest of the world to develop tooling because, independently of the original format, tooling will only have to support JSON Schema. So no, it's not branding, we're enforcing you to do the job just so the rest of the world don't have to do it, which I think is fair, right?

Also, if you do

[2020-02-05 10:45] AistisT commented on #33
Yes there is nothing wrong with transforming to JSON, from what I recall it's done by third party library and it doesn't care what json it is as long its valid json, and then it goes though json schema validation.

The problem is before it gets to transformation and schema validation. If our yaml doesn't contain asyncapi field or specific versions, it won't get to that part. That's what I've meant

[2020-02-05 11:06] fmvilas commented on #33
I'm not saying it's transforming to JSON. I'm saying message payloads are transformed to JSON Schema, which is different than JSON.

Of course, because it would mean it's not a valid AsyncAPI document. Are you trying to parse any kind of YAML/JSON file?

That's not true. After the file is transformed to JSON, it's then validated applying our JSON Schema [schema](https://github.com/asyncapi/asyncap

[2020-02-05 11:28] AistisT commented on #33
My apologies for my  incoherent rambling.

We took asincapi 2.0.0 schema and modified it to suit our needs, as no schema can be suitable for everyone.  It's still 80% of asincapi schema, but its not exact schema any more , which is the problem I am trying to point out.

Any big and significant project, will take asincapi schema and modify it and that should be ok and encouraged.

Any schema can be

[2020-02-05 11:46] fmvilas commented on #33
There are 2 things here:

1. `parser.registerSchemaParser` doesn't do what you think it does. This function is to register "schema" parsers. Examples of schemas are JSON Schema, Avro, RAML (support is coming soon), Protobuf (not supported yet), and XSD (not supported yet). These are ways to define your **message payloads, not the whole AsyncAPI file.** It can be confusing because both are actually

[2020-02-05 12:05] AistisT commented on #33
It does make sense, but isn't validation done by avj and its generic json schema validation. So if we define the fields we want in json schema, it will be validated by avj json schema validation, which seems superior to non validated extension fields. I might be mistaken here, but most of parsing code is generic.

Following standards is important, but we are defining our own standard for the indus

[2020-02-05 12:20] jonaslagoni commented on #33
I can understand your point of view @AistisT however as @fmvilas stated, AsyncAPI provide a number of ways to specify your own modifications to the AsyncAPI document, while still complying with the standard. And when the functionality of adding custom extension parsers are added you will be able to do what I am assuming you are doing now in the official parser.

It all comes down to the complexity

[2020-02-05 12:37] AistisT commented on #33
Apart from adding UML parsing/generating, we really haven't done much of custom processing.

As I've said we had to do very little for our modified schema to be parsed and validated.

Yaml is converted by standard JSON library and converted json is validated by ajv.
`   return JSON.parse(xxxYAMLorJSON);`
The source code is generic and is not tied to asyncapi schema.
`const validate = ajv.compile(x

[2020-02-05 13:03] jonaslagoni commented on #33
I think from AsyncAPI's point of view this use-case would never exist, since the AsyncAPI parser should not be used for parsing anything other then official AsyncAPI schemas. As you pointed out `Following standards is important, but we are defining our own standard for the industry, thus the need to modify the json schema` when you are defining your own standard why would you want to depend on cha

[2020-02-05 15:04] AistisT commented on #33
Well this is very very start of this project and very beginning of schema standard, 80% is just a random number I made up, I do believe its around that ATM, but it might change in the future.

We are using generator, obviously we are changing templates, but generator allows us to  specify custom templates. We really didn't have to modify the generator source code to work with our derived schema.

[2020-02-24 20:11] #33 closed

[2020-02-25 18:20] fmvilas opened #36 "Replace deprecated openapi-schema-to-json-schema package"
It's been deprecated in favor of https://www.npmjs.com/package/@openapi-contrib/openapi-schema-to-json-schema.

[2020-02-26 15:47] derberg commented on #10
Are we doing it in parser or that should go to linters?

channel params is a similar use case that I had with server variables.
Would be good to draw a clear line of what is part of parser validation and what should be implemented separately 😄

Or maybe we should produce some doc that describes all possible validations :thinking: a kind of reference that would be very handy for those that create v

[2020-02-26 15:49] derberg commented on #10
it is related partially to #24

[2020-02-26 15:59] derberg commented on #28
`server.hasVariables()` would also be awesome 😉

sounds to me like a good first issue, what you think?

[2020-02-26 16:09] derberg commented on #36
I could jump to it before #28, thoughts?

[2020-02-26 16:21] fmvilas commented on #36
Sounds good!

[2020-02-26 16:22] fmvilas commented on #28
Definitely. It would be awesome.

[2020-02-26 16:50] fmvilas commented on #10
I think the case I describe above should be here in the parser but I understand it's a thin line. I think it's wrong to say that there's a parameter but it's not defined anywhere. However, the opposite might be fine for the linter: there's a defined parameter that's not used. What do you think?

You just described the TCK: Give it a try on [this branch](https://github.com/asyncapi/tck/pull/1).

[2020-03-02 15:24] #36 closed

[2020-03-02 19:57] #28 closed

[2020-03-04 20:16] jonaslagoni opened #39 "allSchemas does not return "all" schemas as expected"
**Reason**

Given the definition of the function, one would expect ALL the schemas to be returned, however this is not the case. As seen in the [implementation](https://github.com/asyncapi/parser-js/blob/5b3d841921d049ad891a976741413db012146c81/lib/models/asyncapi.js#L171) it only shallowly look at schemas from messages and components.

**Description**

- Think about how it can be done recursive a

[2020-03-04 20:16] jonaslagoni commented on #32
Closing issue because of https://github.com/asyncapi/parser-js/issues/39

[2020-03-04 20:16] #32 closed

[2020-03-05 17:07] jonaslagoni opened #40 "Schema type is defined as returning a string when it can be string or array"
In the current implementation the [schema.type()](https://github.com/asyncapi/parser-js/blob/5b3d841921d049ad891a976741413db012146c81/lib/models/schema.js#L131) function is defined as returning a string when the JSON schema specification defines it as either [a string or an array of strings](https://json-schema.org/understanding-json-schema/reference/type.html).

[2020-03-06 10:08] jonaslagoni opened #42 "Schemas are not assigned correct uid's"
Nested schemas without manually specifying the `$id` attribute never get assigned correct id's.

**Example**
[code]
given the above JSON I would expect the `$uid` of the schema to be `<anonymous-schema-1>`, `testParamNestedSchemaProp`, `testParamNestedNestedSchemaProp2`, however it is `<anonymous-schema-1>`, `undefined`, `undefined`.

One question, should the parameter schema not get assigned the

[2020-03-06 11:49] jonaslagoni commented on #42
Need some help defining the scope of this issue and answer the question of parameters @derberg @fmvilas :smile:

[2020-03-06 22:37] derberg commented on #42
I'm too dumb to help out here without better understanding the subject, sorry. Logically I would also expect `testParam1`. Do you have some more data I could quickly use to play with?

[2020-03-06 22:57] jonaslagoni commented on #42
Any help would be great 💯 We have a few tests which include anonymous schemas the [`allSchemas` test](https://github.com/asyncapi/parser-js/blob/5b3d841921d049ad891a976741413db012146c81/test/models/asyncapi_test.js#L182) and  most of the tests in [`parser_test.js`](https://github.com/asyncapi/parser-js/blob/master/test/parse_test.js) checks for anonymous schemas, might be a good place to fiddle ar

[2020-03-07 14:40] jonaslagoni commented on #42
So this issue is actually a two part issue, however I think we can keep it all in one issue or?

#### First issue
An issue lies with the assignment of anonymous schemas which are not done recursively.

#### Second issue
An issue lies with the assignment of proper ids of parameters and properties for objects which is what is described above.

[2020-03-11 06:55] sckrecords opened #46 "AsyncAPI reference to Avro [BUG]"
**Describe the bug**
I try to make a reference to an Avro object in AsyncAPI. For development, I used playground.asyncapi.io.
When defining a reference to our Kafka Schema Registry, which returns Avro like in your documentation

[code]

the reference gets correctly resolved to

[code]

this means that the reference itself and the link is working correctly. But when you then check the HTML panel in

[2020-03-11 08:11] sckrecords commented on #46
Here it is how it looks like in playground GUI:
![Avro in AsyncAPI GUI](https://user-images.githubusercontent.com/32662867/76395689-308d1880-6378-11ea-9aa3-459af2d0ba5f.png)

Here is the Doc. The Avro is in the "train" message:
[AsyncAPI_with_Avro.json.txt](https://github.com/asyncapi/parser-js/files/4316825/AsyncAPI_with_Avro.json.txt)

[2020-03-11 08:33] derberg commented on #46
@sckrecords awesome input, thanks a lot. As you can see in attached asyncapi doc, the `Train` is not transformed into a valid json schema, and this is why it is later not rendered properly in the HTML. Avro -> JSON Schema transformation is not yet supported in the parser

[2020-03-11 08:38] sckrecords commented on #46
When can we expect Avro -> JSON Schema transformation in parser? :-)

[2020-03-11 10:24] derberg commented on #46
excellent question 😄
it all depends on how important it is for the community and if someone experience can also help with contribution.

Good think is that we just recently introduced `plugins-like` approach for custom schema parsers. You can see for example the RAML parser here https://github.com/asyncapi/raml-dt-schema-parser that can be developed independently from the parser-js.

[2020-03-11 15:01] derberg commented on #42
@jonaslagoni ok, I think I now understand it more. But have a look on this test https://github.com/asyncapi/parser-js/blob/5b3d841921d049ad891a976741413db012146c81/test/models/asyncapi_test.js#L189-L194 you pointed me to

how would you like to improve the parser, what would you expect instead of the anonymous ids from the test example?
[code]

instead of `<anonymous-schema-1>` you want to have som

[2020-03-11 16:18] jonaslagoni commented on #42
I would not change the naming of the `<anonymous-schema-1>` however when you have any nested JSON Schemas they are never assigned `<anonymous-schema-x>` ids. Which is needed when we want to return [`allSchemas`](https://github.com/asyncapi/parser-js/issues/39).

The use-case for returning all schemas is described in https://github.com/asyncapi/generator/issues/239 😄

[2020-03-11 16:59] derberg commented on #42
got it

after reading this one I thought you also would like to have some smart mechanism for providing more specific names for schemas instead of simple anonymous

why `testParamNestedSchemaProp` and not anonymous as well? I hope it is not a stupid question :)

[2020-03-11 17:05] jonaslagoni commented on #42
No questions are dumb 😄 It is the same principle as for parameters (IMO) that the schema uid should return the object property names and not an anonymous name, since we did actually provide a name for that schema. However one could argue that the property names are just a name that has nothing to do with the schema itself, hmm 🤔 What would you expect?

[2020-03-11 17:59] derberg commented on #42
@jonaslagoni this is my point. I'm always supporting the minimum need, no exceptions and custom handling that just complicates the implementation. This is why the simplest approach is, `no $id? then you get schema under `anonymous*` key, with no ifs`. But I'm purely theoretical here as I'm not the user of this functionality

[2020-03-11 18:02] fmvilas opened #47 "Make parser auto-discover schema parsers mime-types"
While I was working on extracting RAML and OpenAPI schema parsers (#44), I realized that it's a bit painful to remember all the mime types that a given schema parser supports. It would be great to make the parser auto-discover these mime types.

For instance, instead of writing this:

[code]

You write this:

[code]

This will improve a few things:
1. You will no longer have to remember the list o

[2020-03-12 07:22] zerobig opened #48 "ramldt2jsonschema package has link to fs module"
The 'ramldt2jsonschema' module you are using has a link to the 'fs' module in the code. As a result, it turned out to be impossible to use parser version 0.14 with the asyncapi-react project when it is built only for the browser.

Is there anything you can do about this?

[2020-03-12 07:34] derberg commented on #48
@zerobig Thanks for pointing it out. Sorry about that, luckily we figured that out and already work on a fix. It will be released soon, if not today than probably tomorrow -> https://github.com/asyncapi/parser-js/pull/44. I will setup a ref in the PR so once it is merged this issue will be closed and you will learn about it.

Btw, good to meet `asyncapi-react` user!

[2020-03-13 13:58] fmvilas opened #49 "Make JS parser stable"

[2020-03-13 16:05] fmvilas opened #50 "Integrate the extension catalog with the JS parser"

[2020-03-14 17:39] #48 closed

[2020-03-15 14:01] jonaslagoni commented on #42
After some thinking I agree with you @derberg the property name should not reflect the id of the object, but just get assigned anonymous id. I'll change it in the PR 😄

[2020-03-19 09:25] derberg opened #52 "Automate release of parser and other packages"
- automate release as it is done already in generator https://github.com/asyncapi/generator/issues/225
- Important to remember:
  - no need for docker
  - remember to use npm scope
  - remember to mark in package.json that package is public
  - for browser distributions make sure that during the release bundles are attached to GitHub Release
  - I think CDN is not needed for now unless someone fro

[2020-03-26 20:30] fmvilas opened #56 "Explore JSON Schema Validator as an alternative to Ajv"
Explore the [JSON Schema Validator](https://www.npmjs.com/package/@hyperjump/json-schema) package as an alternative to Ajv because [it's not clear if the author would want to implement support for the latest version of JSON Schema or not](https://github.com/epoberezkin/ajv/issues/1082).

[2020-04-06 11:21] GreenRover commented on #39
+1

[2020-04-06 14:42] hesyar commented on #39
+1

[2020-04-09 12:44] #42 closed

[2020-04-09 14:39] Tenischev opened #58 "Documentation of generator posibilities"
In [docs/authoring.md](https://github.com/asyncapi/generator/blob/master/docs/authoring.md#common-assumptions) documented usage of "schemaName" variable for $$schema$$ file definition which is actually is [schema.uid()](https://github.com/asyncapi/parser-js/blob/master/API.md#Schema+uid).
Perhaps it will be good to document this, because in case of schema like:
[code]
The "peoplePayload.properties

[2020-04-09 23:50] jonaslagoni commented on #39
Solved in https://github.com/asyncapi/parser-js/pull/41

[2020-04-09 23:50] #39 closed

[2020-04-14 10:36] derberg commented on #58
Hey @Tenischev,
I read the issue few times and need to ask you to clarify few things, sorry:
- which docs you want to update, generator or parser? and what exactly you want to modify/extend
- what do you mean by `Which is broke chain`? when I look on your examples, it actually looks good, `peoplePayload` has `event` property and `people` have `id`, what else would you expect?
- what do you mean wi

[2020-04-14 19:16] Tenischev commented on #58
If file template like `$$channel$$.js`, `$$message$$` e.t.c. is described only in [docs/authoring.md](https://github.com/asyncapi/generator/blob/master/docs/authoring.md#common-assumptions), then
I think this file better be updated. Because my concern is about ambiguity of mapping `channelName`, `messageName` e.t.c. variables to the field in [parser API](https://github.com/asyncapi/parser-js/blob/

[2020-04-15 06:54] derberg commented on #58
Thanks for your patience 🙇

I ❤️ variant A, go ahead with PR in the generator 👍

[2020-04-15 09:18] jonaslagoni commented on #58
Only place we ever mention the parser being used are here:

Might be a good idea to include a better description there as well? But yea I like variant A as well 😄

[2020-04-15 12:58] Tenischev commented on #58
That's a fun guys. I had a look to generator code... Actually generator supports six file templates of `$$something$$`, they are: [channel, message, securityScheme, schema, parameter and surprise - everySchema](https://github.com/asyncapi/generator/blob/7cd0ccbf848698fd948d93184987aa014c733538/lib/generator.js#L399).
And be sure, schema and everySchema are different set of schema. Fortunately sche

[2020-04-15 16:27] jonaslagoni commented on #58
@derberg might want to move this issue to the generator, this has nothing to do with the parser 😄

[2020-04-15 18:36] derberg commented on #58
good point mate! done

[2020-04-15 18:36] #58 closed

[2020-04-15 18:36] derberg commented on #58
Issue moved to [asyncapi/generator #297](https://github.com/asyncapi/generator/issues/297) via [**ZenHub**](https://www.zenhub.com/)

[2020-04-17 13:28] derberg opened #68 "Header other than object doesn't cause validation fail"
#### Describe the bug
Header other than object doesn't cause validation fail. It is probably the same not only in `message` but also `messageTrait`

#### How to Reproduce
Try below file in playground and you'll see no errors even though the spec clearly says that `headers` must be `object` of type

[code]

#### Expected behavior
Parser should throw error that header must be of `object` type

[2020-04-20 21:19] ryanskinner opened #71 "Map/Dictionary Parsing Failing"
#### Describe the bug
I am not 100% sure this is a bug but I've been able the whittle this down to a simple document to duplicate it.  I am only able to duplicate it using the CLI for generator, but I believe the issue is in the parser, hence I'm posting the issue here.  The issue does not show up when using the playground online.

When I try to generate either an html or MD template from the YML

[2020-04-21 06:52] derberg commented on #71
@ryanskinner thanks for the issue and especially the example that made it super easy to find a root cause. The playground is a few releases behind, and this is why it might look strange to you that some things are working in the Playground while at the same time fail in the generator.

Imho your case is valid, json schema is a valid schema if there are no properties but `additionalProperties` is d

[2020-04-23 12:15] jonaslagoni commented on #71
Yep, the function assumes properties are always sat. Heard @derberg volunteered to change the library to property based testing 😉

Also, additional properties are not recognized as a "schema", that needs to change as well 🤔Didn't think of this when I implemented it...

I'll create a PR today fixing this.

[2020-04-23 20:37] jonaslagoni opened #73 "Tests should be run on PR"
#### Reason/Context
It would be nice to see the tests running on the PR before the review process.

#### Description
Make a test workflow on PR's which runs the tests upon a new PR and not just on release.

[2020-04-25 07:52] #73 closed

[2020-04-26 06:02] jamescrowley opened #75 "Parser inconsistently applying additionalProperties schema validation"
#### Describe the bug

Depending on how the schema is constructed, additionalProperties is sometimes allowed to deviate from the schema without a parse error.

#### How to Reproduce

The following is parsed successfully:

[code]

However, the following is rejected:

[code]

#### Expected behavior
I would expect the parser to reject both formats, given it does not comply with the schema

[2020-04-27 13:16] #71 closed

[2020-04-27 17:19] #40 closed

[2020-04-28 06:34] jamescrowley opened #78 "deprecated attribute not supported"
#### Describe the bug

The `deprecated` JSON schema attribute appears to be supported by AsyncAPI, but is not supported by the parser.

#### How to Reproduce

There is no exposed 'deprecated' field, and therefore cannot be used by generator templates, for instance.

#### Expected behavior

Support the fields that AsyncApi schema defines.

[2020-04-28 08:43] fmvilas opened #80 "Missing "discriminator" attribute on Schema"
#### Describe the bug
The Schema model is missing the `discriminator` attribute.

[2020-04-28 08:45] #78 closed

[2020-05-24 05:49] derberg commented on #52
we still need to decide on:
- what about slack notifications on releases
- have twitter updates on releases
- incluse sonar cube as release step

[2020-05-26 05:29] sckrecords commented on #46
This one should be fixed within the other bunch of issues regarding AsyncAPI Reatct component, shouldn't it?

[2020-05-26 06:27] derberg commented on #56
@fmvilas looks like Ajv goes better direction now -> https://github.com/ajv-validator/ajv/issues/1198

[2020-05-26 06:30] derberg commented on #46
@sckrecords what do you mean? Avro support is not needed only in the react component. Avro schema parser can be useful for anyone, we will for example for sure register it by default in the generator

[2020-05-29 21:10] nsnichols opened #83 "Recursive messages cause the parser to stack overflow"
#### Describe the bug
I need to define messages that are recursive tree structures. When I do this and attempt to use the `@asyncapi/generator`, to generate documentation (or code) for my spec, the parser fails with a `Error: Maximum call stack size exceeded` message.

#### How to Reproduce
Here's a minimal asyncapi spec that reproduces the issue:
[code]
[code]

#### Expected behavior
I would expe

[2020-05-30 01:02] nsnichols commented on #83
I see the parser allows you to pass `{ dereference: { circular: true } }` which does stop the infinite recursion. So maybe this is a problem with the generator and not the parser. From what I can tell there isn't a way to pass that config to the parser when you run the default generator script. Though, I was able to create a generator myself and pass that config along.

[code]

This produces the f

[2020-06-02 09:38] WaleedAshraf opened #84 "Add method .hasMessages()"
Add method `asyncapi.hasMessages()` like we have others, `asyncapi.hasChannels()`.
This will be used to check if messages are defined, and then show them in a separate section.

To be used here:
https://github.com/asyncapi/html-template/pull/31#pullrequestreview-422044695

Related PR: https://github.com/asyncapi/html-template/pull/31

[2020-06-02 10:54] derberg commented on #83
Parser uses https://apitools.dev/json-schema-ref-parser/docs/options.html and throws errors as the ref parser, so if you set `ignore` they are ignored, if you set `false` you get an error. In logs you do not see any output from parser as it just ignored refs. But then template failed as the refs stayed in the AsyncAPIDocument. I don't see any other option than having `circular: true` by default.

[2020-06-02 21:55] nsnichols commented on #83
If I drop the same recursive schema into https://editor.swagger.io/, I see this:

<img width="513" alt="recursive" src="https://user-images.githubusercontent.com/25645854/83572913-0a4ac500-a4f0-11ea-8e3c-092095691e70.png">

Which isn't great, but it's something. If the non-recursive properties are shown normally and there is some indication that recursive properties are recursive, I think that's g

[2020-06-05 07:04] rvowles commented on #56
the JSON schema fork you are currently using here is broken, it doesn't properly support disciminators in oneOfs which is breaking our ability to use it. The main repository is > 30 commits further along, if you are gonig to stick with it for the time being could you consider merging or rebasing from the original...? please...? I have tested our schema against "@apidevtools/json-schema-ref-parser"

[2020-06-05 13:18] derberg commented on #84
@fmvilas what is you view on this. `asyncapi.hasChannels()` and `asyncapi.hasServers()` make sense as channels and servers are root elements, messages are not. But I do not think we are super strict in models here right? because we already have `asyncapi.allMessages()` then why not having `asyncapi.hasMessages()`? right?

[2020-06-05 15:21] derberg commented on #83
@nsnichols I created a simple project and played a bit with ref resolver here https://codesandbox.io/s/parser-ref-bundle-7ogrn

When using ref resolver directly all looks like refs are resolved fine, I only had a problem with `JSON.stringify()` as it doesn't support circular deps so I had to add some library to help out.
When using parser, it fails with `Maximum call stack size exceeded`

so basic

[2020-06-05 17:47] fmvilas commented on #84
It totally makes sense, yes. Actually, the purpose of the parser is to eventually offer an abstract infterface that's independent of the AsyncAPI document structure. This is a good example.

[2020-06-05 17:51] fmvilas commented on #56
I'm confused. The fork we're using is from json-schema-ref-parser and it has nothing to do with discriminators AFAIK. Also, this issue is to explore an alternative to Ajv, not json-schema-ref-parser. How is it broken for you @rvowles? Would you mind creating another issue and explain there?

[2020-06-05 19:36] nsnichols commented on #83
Thanks for looking into this.

It seems worth considering making `$ref`s a part of the parsed api output. There needs to be some way to represent a recursive structure (unless you don't plan on supporting them at all) and `$ref` does that already. I don't think you would want to make the generator and/or templates have to figure out themselves if there is recursion happening by tracking if they've

[2020-06-05 21:52] rvowles commented on #56
Hey @fmvilas - the fork you are using is behind master, and your fork has discriminators broken on it. I should raise a new ticket (broken = schema does not validate when it is valid because discriminator is a ref to a string/enum combo, which is valid and passes current 9.0.1 release of json-schema-ref-parser)

[2020-06-09 15:39] WaleedAshraf commented on #56
Yeah, the author is AJV is looking for more sponsors. But I'll suggest to stick with AJV. It may take a quarter or so for draft-09 support.
Also, this "JSON Schema Validator" doesn't look like to be used as much.

[2020-06-09 20:53] rvowles commented on #56
Waleed - the JSON Schema Validator is used currently, But it is old and
hence the issue. I shouldn't  have commented on this ticket, I just
confused matters :-)

On Wed, Jun 10, 2020 at 3:40 AM Waleed Ashraf <notifications@github.com>
wrote:

--
---
Richard Vowles,
Full stack - from Kubernetes, through Node & Java, Web and Mobile
development in Flutter - software developer for hire!

ph: +64275467

[2020-06-15 09:08] #84 closed

[2020-06-15 10:30] fmvilas commented on #84
Yes. We can probably have another issue to target all those missing methods. Not necessarily for v1 though.

[2020-06-15 11:23] derberg opened #88 "Add missing methods that help evaluate if given collection is empty or not"
#### Reason/Context
As discussed here https://github.com/asyncapi/parser-js/pull/85#issuecomment-643354441 we need more functions like `hasMessages` or `hasSchemas` in the components model, but it would be also nice to analyze other places.

#### Description
Add to components model functions like `hasMessages`, `hasSchemas`, `hasSecuritySchemas`

[2020-06-15 11:24] derberg commented on #84
@fmvilas yeap, added https://github.com/asyncapi/parser-js/issues/88

[2020-06-15 13:10] derberg commented on #68
Spec about headers: `Schema MUST be of type "object"` but it also states that this parameter is of type ref or https://github.com/asyncapi/asyncapi/blob/master/versions/2.0.0/asyncapi.md#schemaObject and therefore schema also refs to schema definition https://github.com/asyncapi/asyncapi/blob/master/versions/2.0.0/schema.json#L642-L643

This is why parser doesn't see an issue but it is a problem w

[2020-06-15 14:47] fmvilas commented on #68
It sounds like a bug here: https://github.com/asyncapi/asyncapi/blob/master/versions/2.0.0/schema.json#L642-L643. It should have this rule + enforce its type is "object". Something like:

[code]

[2020-06-16 08:33] derberg commented on #24
@fmvilas this sounds to me like a pretty "manual" validation not handlable by schema. Same is with parameters/variables in server url. Where would you put it in the parser? is it the intention of  `iterateDocument` https://github.com/asyncapi/parser-js/blob/master/lib/parser.js#L150 function to trigger all those additional custom validations, or are there no strict rules?

[2020-06-16 08:54] fmvilas commented on #24
No strict rules but I'll trigger these validations right after we do JSON Schema validation with `ajv`, so `iterateDocument` sounds like a good candidate for that. Although, I'd change the name to something more descriptive.

[2020-06-16 12:42] derberg commented on #75
I think the error is related to an error in json schema, doesn't matter if payload goes directly to a message under channel or components.

json schema, just says `"payload": {}` and in my opinion json schema should say
[code]

I'm not sure though as the spec in https://github.com/asyncapi/asyncapi/blob/master/versions/2.0.0/asyncapi.md#fixed-fields-14 says and says `Definition of the message payl

[2020-06-16 13:10] derberg commented on #46
@fmvilas this issue is declared as in scope for parser 1.0 but Avro support is not `much have` in my opinion, especially that it is going to be a separate project anyway like in case of raml and openapi parsers

[2020-06-16 13:44] fmvilas commented on #46
Agree. Feel free to exclude it from v1.0 release.

[2020-06-16 13:52] fmvilas commented on #75
The error is in the parser itself. It's not using a schema parser when it's found under `payload`: https://github.com/asyncapi/parser-js/blob/master/lib/index.js#L5.

This would be incorrect for other schema formats like RAML, Avro, or OpenAPI Schema Objects. In JSON Schema, assigning a value of `{}` is like saying you don't want to validate it. It can be anything.

This has to do with the [schema

[2020-06-16 14:44] #80 closed

[2020-06-16 14:59] derberg commented on #46
Just to make it clear for others watching this issue, we are not dropping the idea of supporting Avro, we just want to focus on bugs and missing validation features for the 1.0 release and Avro will just come after

[2020-06-17 07:13] #68 closed

[2020-06-17 14:18] derberg commented on #83
It's hard for me to imagine a use case that someone wants to have fully dereferenced circular refs, but also I don't like leaving those in the doc too. I personally like what for example https://github.com/moll/json-stringify-safe is doing and marking circular dependencies.

After deeper investigation I see parser is failing for 2 reasons:
- ajv validation should be done before dereferencing
- we

[2020-06-17 15:27] derberg commented on #56
@fmvilas I think we should close this one as it looks like Ajv will support draft 9 https://github.com/ajv-validator/ajv/issues/1198. I went into the linked conversation, read all of it and I have to say it was interesting :D

we cannot count on other projects. Example: https://github.com/tdegrunt/jsonschema/issues/294 - 0 response to questions about the draft 9 support

and https://github.com/hyp

[2020-06-17 16:29] derberg commented on #75
@fmvilas thanks a bunch, obviously it all makes sense, thanks for the explanation

I think though we have 2 bugs there. One is also related explicitly to YAML format because when I check examples from this issue I get:
[code]

but when I convert it to json and try again, I get proper error:
[code]

error is somewhere here https://github.com/fmvilas/pseudo-yaml-ast/blob/master/src/index.js#L116. I'

[2020-06-17 17:14] derberg commented on #75
@fmvilas have a look at https://github.com/fmvilas/pseudo-yaml-ast/pull/1

I will now dig into original problem

[2020-06-17 18:03] fmvilas commented on #56
Sounds good. Happy to close it.

[2020-06-17 18:03] #56 closed

[2020-06-18 07:30] fmvilas commented on #75
Done and published to npm, version 0.3.1 👍

[2020-06-18 07:41] fmvilas commented on #83
A few notes on this:

1. If we move ajv validation before deref, we'll have to do ajv validation again after deref.
2. The [json-schema-ref-parser package also supports this [circular] thing](https://apitools.dev/json-schema-ref-parser/docs/options.html). It used to be set up as `circular: true` but got lost at some point. We should make it the default and write some tests.
3. With 2. in place, ou

[2020-06-18 15:00] derberg commented on #75
@fmvilas

You have me lost here. I checked and proper schema parser is invoked, but the problem is that this empty function is called https://github.com/asyncapi/parser-js/blob/master/lib/index.js#L3. There is basically no implementation of the function that parses and validates `application/vnd.aai.asyncapi;version=2.0.0` or I'm blind 😄 and it is of course possible 😄

what I'm saying is that the

[2020-06-18 16:13] derberg commented on #83
@fmvilas

1. Ajv doesn't like circular refs https://github.com/ajv-validator/ajv#circular-references-in-javascript-objects so we
2. `circular: true` is default, at least it looks like this in my project and can be indirectly assumed from the docs https://apitools.dev/json-schema-ref-parser/docs/#circular-refs. I do see `[Circular]` when I read an object, but then when I try to read if further, it

[2020-06-19 09:59] fmvilas commented on #83
I think you have to use `circular: 'ignore'`. This works for me:

[code]

[2020-06-19 10:08] derberg commented on #83
@fmvilas but `ignore` leaves `$ref` and then templates fail as they are not prepared for not dereferenced properties.

I saw somewhere in swagger UI I think that they dereference with info that given property is circular, I believe this is the best UX really

[2020-06-19 15:58] derberg commented on #24
Hey folks, I've just opened a PR, it is still missing few things but main validation logic is in place.

I have once concern @fmvila, I think we discussed someday error levels but I can't recall what was the outcome of the discussion. My concern is that this validation is an error now, but it feels like a warning, I mean that this kind of error should not break the functionality of tools like for

[2020-06-23 11:47] derberg commented on #10
@fmvilas

If you mean [`examples`](https://json-schema.org/draft/2019-09/json-schema-validation.html#rfc.section.9.5) than no, Ajv doesn't want to do it, but it can be done with Ajv plugin, all details [here](https://github.com/ajv-validator/ajv/issues/962#issuecomment-469038167). I did not find any available plugin at the moment.
Knowing that Ajv is now under development to support latest JSON Sc

[2020-06-23 12:20] derberg commented on #47
My first step was to do a research to find a single source of truth for all the mime types out there and I even found https://www.npmjs.com/package/mime-db that lists mime types from locations like https://www.iana.org/assignments/media-types/media-types.xhtml 😄

But now I get what you mean, that basically schema parser maintainer must always implement a function that will provide those mime types

[2020-06-24 11:51] derberg commented on #83
we discussed it yesterday during public meeting (once recording is public, link will be here https://github.com/asyncapi/asyncapi/issues/394).

I will try to work on it and mimic what https://github.com/moll/json-stringify-safe does. So once circular ref is discovered we stop resolving and provide information that the field has circular ref, and this info has to be easy to parse in [the generator]

[2020-06-25 18:44] johndcarmichael opened #93 "Types for typescript?"
When using this tool programmatically within a typescript app, I could not see any type definitions anywhere.. are there any in the pipelines or an @types package i might have missed?

[2020-06-26 06:45] derberg commented on #93
Hi @johndcarmichael. I don't have much experience with TypeScript. Parser is pure JS but the models have pretty good jsdoc, maybe these could be used to genereate types? there are some tools https://github.com/otris/jsdoc-tsd.

No one is working on it at the moment, and full focus is on 1.0 release and as high coverage of spec validation as possible.

[2020-06-26 09:59] derberg commented on #83
@nsnichols  would be awesome if you could have a look at #94 and proposed way of handling circular refs.

tl;dr in case of circular ref we would return this info `'$.components.schemas.RecursiveSelf'` so user can figure out from this information that it is circular ref and where it is pointing.

It is hard to come up with something more meaningful without real-world use case but this PR is making

[2020-06-27 10:02] jcmellado opened #95 "Missing externalDocs on Schema Object"
#### Reason/Context
The Schema Object specification has an `externalDocs` field:
https://www.asyncapi.com/docs/specifications/2.0.0/#schemaObject

But that field is missing from the Schema model:
https://github.com/asyncapi/parser-js/blob/master/API.md#Schema

#### Description
Add `externalDocs()` method to the Schema model.

[2020-06-27 11:29] jcmellado opened #96 "Message traits are not applied when using oneOf on channels"
#### Describe the bug
Message traits are not applied when using `oneOf` on channels.

#### How to Reproduce
Using the following code for testing:

[code]

I get the expected result (`contentType: application/json`) with the following YAML file:

[code]

But I get the wrong result (`contentType: undefined`) with the following YAML file:

[code]

I have tried with more than one message, and other tr

[2020-06-29 08:03] derberg commented on #95
@jcmellado thanks for reporting this one, you want to work on it? I see you need it in the markdown template

[2020-06-29 08:09] derberg commented on #96
@jcmellado thanks for reporting it will well written examples. Application of traits happens here https://github.com/asyncapi/parser-js/blob/master/lib/parser.js#L196 so we need to investigate what happens there

[2020-06-29 14:24] fmvilas commented on #75
Yeah, sorry for the confusion. The `noop` (no operation) function there is on purpose because message payloads are being validated when we run Ajv. Therefore, no need to run message parsers.

[2020-06-29 15:07] fmvilas commented on #10
👍

Sorry, my fault. However, we can still validate against the `enum` property if present.

[2020-06-29 17:33] jcmellado commented on #95
@derberg https://github.com/asyncapi/parser-js/pull/97

[2020-06-29 17:41] #95 closed

[2020-06-30 11:32] derberg opened #99 "Add validation of message examples"
#### Reason/Context
Have a mechanism that validates examples of payload. Examples are used as part of rendered docs and by mocking tools and should be 100% accurate.

#### Description
Ajv doesn't want to be responsible for [examples](https://json-schema.org/draft/2019-09/json-schema-validation.html#rfc.section.9.5) validation, but it could be done with Ajv plugin, all details [here](https://github

[2020-06-30 11:37] derberg opened #100 "Add validation of server variable example"
#### Reason/Context
You can provide in the AsyncAPI document a variable used in the server URL, later you describe such a variable with https://www.asyncapi.com/docs/specifications/2.0.0/#a-name-servervariableobject-a-server-variable-object and one of the supported fields is `example` that we should validate

#### Description
validate variable example against the enum value. In case there is no `e

[2020-06-30 11:38] derberg commented on #10
issue for message examples https://github.com/asyncapi/parser-js/issues/99
issue for server variables examples https://github.com/asyncapi/parser-js/issues/100

[2020-06-30 11:48] derberg commented on #75
@fmvilas this makes much more sense why `noop` is there. So we basically do not need an extra parser because the Ajv is doing it based on the JSON Schema of AsyncAPI, right? aren't we now at the starting point then 😄

if we validate with Ajv and the schema says `"payload": {}` then what is your suggestion to fix this bug?

[2020-06-30 14:19] fmvilas commented on #75
Oh, that's true 😅 We should then implement a default schema parser (instead of the noop) that internally will use Ajv to validate against [this](https://github.com/asyncapi/asyncapi-node/blob/master/schemas/2.0.0.json#L355).

[2020-06-30 14:32] derberg commented on #75
ufff, I was afraid I'm not getting something 😄 now all clear, will work on it

[2020-07-01 09:47] #47 closed

[2020-07-01 17:24] jcmellado commented on #96
I think that this issue is caused by this function:
https://github.com/asyncapi/parser-js/blob/master/lib/parser.js#L150

Relevant source code:
[code]

I'm still not feeling very confident with the source code to file a pull request.

[2020-07-02 09:35] #24 closed

[2020-07-02 09:42] derberg opened #103 "Introduce security related linter and fix existing problems"
#### Reason/Context
There are some common security issues that can be found statically and we should make sure parser is 100% free of those.

#### Description
- add https://github.com/nodesecurity/eslint-plugin-security and configure with eslint
- fix all the issues reported by the linter. There are many but trivial where mainly it is about switching form object to map. Good issue to familiarize w

[2020-07-06 10:29] magicmatatjahu commented on #103
@derberg Hello :) I investigated little time issue, added plugin and configured with project and about 95% of issues are false positives with errors like `detect-object-injection`, which means that from code we retrieve some data from object by custom key passed as argument to function like:

[code]

I see several solutions:

1. Cast the variable to string like `key => String(key)`. It strange, bu

[2020-07-06 15:11] derberg opened #107 "Fix 3 bugs reported by sonarcube"
#### Describe the bug
SonarCube reported 3 trivial bugs that we should solve before 1.0 release

#### Expected behavior
Fix https://sonarcloud.io/project/issues?id=asyncapi_parser-js&resolved=false&types=BUG

[2020-07-06 15:23] magicmatatjahu commented on #96
@jcmellado Hello. I fixed bug in https://github.com/asyncapi/parser-js/pull/108 PR.

[2020-07-07 07:31] derberg commented on #103
@magicmatatjahu already on the PR ;)

[2020-07-07 12:51] #96 closed

[2020-07-07 13:04] #107 closed

[2020-07-09 12:52] #75 closed

[2020-07-09 13:02] derberg commented on #10
Reopen as we still need to fix `Check that a server security scheme name matches an object on components/securitySchemes.`

above release just contains `Operation Ids are unique.` part

[2020-07-09 15:03] #103 closed

[2020-07-09 15:56] magicmatatjahu commented on #93
Maybe `ts-types` repository would be great for this approach. Repo only with TS types with types helpers in guards form https://www.typescriptlang.org/docs/handbook/advanced-types.html#type-guards-and-differentiating-types.

In free time I tried to create types from JSON Schema spec by https://github.com/bcherny/json-schema-to-typescript lib, but it return trashed types in some places like:

[code

[2020-07-09 20:35] jonaslagoni commented on #93
Isn't this issue regarding missing types package for the parser itself? (not the spec)

I added types for the generator, which was done with JSDoc to automatically generate the types, thinks that's the way to do here as well :) Think I used https://www.npmjs.com/package/tsd-jsdoc

[2020-07-10 11:29] magicmatatjahu commented on #93
@jonaslagoni Yes, this issue is related to parser, but I wonder if an idea with a separate package with only types would be a good one.

[2020-07-10 13:12] jonaslagoni commented on #93
@magicmatatjahu I am unsure of the use-case specifically in this context. Are you talking about making a repository containing types from the spec it self and use that to somehow solve this issue? 🤔

Cause with tsd-jsdoc we can have 0 maintaining from our side and generate it with github actions, which I think would be perfect fit which requires a minimal effort to solve from the maintainer point

[2020-07-10 13:18] johndcarmichael commented on #93
I think tsd-jsdoc is the better solution here as will be published and up to date with each release of this package. The @types namespace on npm i think was originally intended to give typescript more appeal when i was originally launched as no packages had types defined and waiting for the original authors to react would be too slow.

[2020-07-10 13:57] jonaslagoni commented on #93
@johndcarmichael unless @magicmatatjahu wants to take it for a spin. As long as there are no complications with the current jsdoc implementation it shouldn't take long 😄

[2020-07-10 16:34] magicmatatjahu commented on #93
@jonaslagoni I don't have any objections with using `tsd-jsdoc`.If it makes maintenance code easier, it's ok to me.

[2020-07-10 19:36] magicmatatjahu commented on #88
@derberg @fmvilas Could I handle that issue? I think that also methods like `.info().hasContact()`, `.server({server Name}).hasDescription()` etc. would be helpful for developers.

[2020-07-11 12:21] derberg commented on #88
@magicmatatjahu go for it!

[2020-07-11 12:27] magicmatatjahu commented on #88
I started looking at the code and noticed that collections are often returned as empty objects or empty arrays, even if the field is not defined, e.g. tags field, like here https://github.com/asyncapi/parser-js/blob/master/lib/models/asyncapi.js#L136 In my opinion it should return null if field is not defined, and also in case if collection (array or object) is empty (zero indexes in array and zer

[2020-07-11 21:49] derberg commented on #88
Good investigation, I like the idea of `mixin` and `MixinSpecificationExtensions` composition. I would have many questions like:
- why `throw new Error(extensionError);`
- how `mix` function looks like

PR would be great but as small as possible. We should not mix this PR with subject of `null` vs `empty` as it is not related.

Regarding what you saw, that sometimes instead of `null` and empty arr

[2020-07-11 22:26] jonaslagoni commented on #93
@johndcarmichael PR is up, can you review it and ensure it works as you would expect 😄

[2020-07-11 23:02] jonaslagoni commented on #88
I think empty arrays from a templaters point of view is better, because we can directly use the variable without checking it as you say @derberg. The less code in the templates the better 😄

[2020-07-12 07:38] magicmatatjahu commented on #88
@derberg
- I throw an exception, because as we can see in the function body, we can get from it to other elements from the `_json` object, which should not take place. Instead of error, I can return null in this case, no problem.
- mix function is very small and looks like:

[code]

and then we also must use `@mixes` jsdoc annotation for class and explicit define `@class {className}`. Without that

[2020-07-12 08:27] magicmatatjahu opened #117 "Simplify the definition of models using mixins."
#### Reason/Context
Proposal presented in #88 (comment) about mixins could reduce the amount of code and help in project's maintenance.

#### Description
Add mixins for common functions related to tags, externalDocs, extensions etc. and use them wherever possible.

[2020-07-14 08:39] magicmatatjahu opened #119 "Improve error handling in parser"
#### Reason/Context

On the Slack, there was a discussion in which several proposals were proposed to improve the handling of errors in parser.

#### Description

Proposals:

1. Add `custom-validation-error` new error type for custom validation like: validate variables of server name etc...

2. Create the predefinied classes for error types like in models:

[code]

3. Think about subtypes for `cus

[2020-07-14 12:01] fmvilas opened #122 "Create Avro schema parser"
Create Avro to JSON Schema Draft 07 converter. It should have a single method as follows:

[code]

`result` must be a JSON Schema Draft 07-compatible of type `json.RawMessage`.

### References

* https://github.com/fge/json-schema-avro

[2020-07-14 12:02] fmvilas commented on #122
I'm moving this issue from Go parser to JS parser since it will be implemented here first.

[2020-07-14 12:04] fmvilas commented on #122
BTW, I'm starting to work on this now. If I arrive on time, I'll make it part of the 1.0.0 milestone. For now, let's keep it out so it's not a blocker. \cc @derberg @jonaslagoni @magicmatatjahu

[2020-07-14 12:05] derberg commented on #122
@fmvilas isn't this one https://github.com/asyncapi/parser-js/issues/46 about Avro in JS Parser?

[2020-07-14 12:05] fmvilas commented on #122
Oops, you're right. Reverting 🤦

[2020-07-14 12:07] fmvilas commented on #46
I'm starting to work on this issue now.

[2020-07-14 15:14] derberg commented on #83
Another round here. Thanks @nsnichols for your patience.

`payload: '$.components.schemas.RecursiveSelf'` was a completely bad idea and at the moment it will not pass the validation of schema against AsyncAPI schema format. Also `smart-circular` is not that smart after all as it is buggy and even non-circular refs are marked as circular (thanks @nsnichols for good example, I will make sure tests c

[2020-07-14 17:30] magicmatatjahu opened #123 "@asyncapi/parser doesn't work in browser"
#### Describe the bug

I created a new `react` app and add in dependencies `@asyncapi/parser`. Making example as in Readme.md I see the error:

[code]

#### How to Reproduce
Steps to reproduce the issue. Attach all resources that can help us understand the issue:

Create any browser app, but I give react example:
- `npx create-react-app my-app`
- `cd my-app && npm i @asyncapi/parser`
- change main

[2020-07-15 10:10] derberg commented on #83
Final proposal (when looking at [example from PR](https://github.com/asyncapi/parser-js/pull/94/files#diff-24324634cc7cb5ec6be1245a12fcf4f4)):

This:
[code]

Dereferences to:
[code]

I'm not 100%  sure it is better than just leaving
[code]
But this is the only best way in my opinion.

Why?

- we do not need to mark anything as `Circular` cause if $ref will stay there it means it was not resolved.

[2020-07-15 11:45] fmvilas commented on #83
You're doing a great job here, Łukasz but let me point you to a few things:

1. Do we need to work at this level? At the stringified version level? Developers want to use the parser to work with JS structures/models instead of the stringified version of them. JS models can have circular references and we can flag them as "be careful, this is circular and it's going to start the cycle again here".

[2020-07-15 12:12] derberg commented on #83
I'm not sure what you mean? you mean my examples? I did it this way to clearly visualize how it looks like before and after

as I said, not a strong opinion from my side, I can add `isCircular()`  and `circularReference()` too

Yeah, this is just a different approach, also fine. For me both approaches are qually usefull, and this is why propably ref parser enables you to decide if if you want to r

[2020-07-15 12:22] fmvilas commented on #83
That's my point, IMHO you don't have to work at AsyncAPI level but at Parser models level. Developers are going to interact with the parser not with the spec directly so you can add whatever information there, not necessarily compliant with AsyncAPI spec. We don't have to worry about how it would look like if we serialize it back to a string.

Correct me if I'm wrong but there's a difference betwe

[2020-07-16 07:17] derberg commented on #83
It is just how I work, I'm a `picture` person, have to visualize. Wasn't aware it will cause confusion. I look at the problem in a comples way, from html template through generator at a parser, so I just need to visualize 😄

I don't want to continue the argument, I have my opinion here, but it is not a strong opinion so I will just do what was suggested.

---
Current implementation:
- no need to u

[2020-07-16 08:12] derberg commented on #83
@fmvilas

ok, so in pr, readme describes current behaviour https://github.com/asyncapi/parser-js/pull/94/files#diff-04c6e90faac2675aa89e2176d2eec7d8R133

I don't think `circularReference` is needed. Unless I got it wrong. But with the current implementation, you can easily access recursive data, but you can stop by checking `x-parser-circular` property.

[2020-07-16 08:44] #10 closed

[2020-07-17 06:20] derberg commented on #123
crap, I went too far with sonarcube recommendations, forgot about the browser
`Re2` is not a must, but we need to make sure we mitigate a security issue

root of the issue is that bundle is not updated at all, and now it is empty in the master:
[code]

---
regarding `node-fetch`, I hope browserify is smart and replaces it with native fetch for a browser (wishful thinking 😄 )

[2020-07-17 06:23] derberg commented on #123
anyway, I added it to the scope of 1.0 release

[2020-07-17 06:28] MikeRalphson commented on #123
You might want something like https://github.com/lquixada/cross-fetch

[2020-07-17 08:28] derberg commented on #83
some clarification on this one:
- main pull request will not solve this issue, https://github.com/asyncapi/parser-js/pull/94 is only adding nice features to detect cycyles and makes sure `parser` is never going to fail because of circular refs
- I already created PR in here https://github.com/asyncapi/html-template/pull/48 to have `html-template` support circular refs. This also required contribut

[2020-07-17 10:37] derberg commented on #83
Reopen because of my [comment](https://github.com/asyncapi/parser-js/issues/83#issuecomment-659958312). Let us wait what will be the response under https://github.com/Redocly/openapi-sampler/issues/113 to make sure no more things to do in the parser and rest is only in other repos

[2020-07-17 10:41] fmvilas commented on #83
I think I'll create a new package anyway because we don't use OpenAPI schemas but JSON Schemas, slightly different.

[2020-07-17 10:43] derberg commented on #83
you mean like `asyncapi-sampler` or actually `jsonschema-sampler`?

[2020-07-17 11:14] fmvilas commented on #83
`jsonschema-sampler` so it's also valid for other people/projects.

[2020-07-17 11:26] fmvilas commented on #88
For me, the thing about returning empty arrays, returning `null`, or throwing an exception has more to do with the context than doing something as a general rule of thumb. I'd consider:

1. Does `undefined` (the key is not present) mean something different than an empty array?
1. Does `null` (the key is present and its value is `null`) mean something different than an empty array?

If, and only if

[2020-07-27 16:50] derberg commented on #123
`node-fetch` is not a problem because of https://github.com/asyncapi/parser-js/blob/master/package.json#L68 that makes `node-fetch` => `window.fetch` so `cross-fetch` is not needed

[2020-07-27 17:14] #123 closed

[2020-07-28 07:46] derberg opened #130 "Improve testing for typescript types and bundle.js"
#### Reason/Context
- Parser is not only for node.js but should work in the browser too. I recently broke `bundle.js` by introducing a library that doesn't work in the browser. I don't want to break it again, but I also know that when you choose a library, it is not a common habit to check if it is isomorphic (working both on server and browser). We need a way to test if the PR is not causing `bun

[2020-07-28 08:21] #93 closed

[2020-07-30 17:26] fmvilas commented on #46
I just updated [playground.asyncapi.io]() to have support for Avro schemas. Feel free to try it!

Example document:

[code]

This is the package doing the magic: [github.com/asyncapi/avro-schema-parser]().

I'm closing this issue but feel free to open new ones on the [Avro Schema Parser](github.com/asyncapi/avro-schema-parser) repo.

[2020-07-30 17:26] #46 closed

[2020-08-04 07:57] derberg opened #136 "Review differences in the compatibility suite tests between older and new parser version"
These files were successful in https://github.com/asyncapi/tck/ in old parser version but with latest they are wrong:
- https://github.com/asyncapi/tck/blob/master/tests/asyncapi-2.0/Correlation%20ID%20Object/valid.yaml
- https://github.com/asyncapi/tck/blob/master/tests/asyncapi-2.0/Message%20Object/valid-internal-ref-correlationId.yaml
- https://github.com/asyncapi/tck/blob/master/tests/asyncapi

[2020-08-04 10:05] derberg commented on #119
I'm with the idea of introducing more error types!

I also think we need to make it super clear what is our approach to validation vs throwing errors. Should we always throw errors and have no warnings? or should we always throw errors and leave it up to the parser users to decide if a particular error type they want to silent or not.

Why?
This cases:
- https://github.com/asyncapi/tck/blob/master

[2020-08-04 10:07] derberg commented on #136
https://github.com/asyncapi/tck/blob/master/tests/asyncapi-2.0/Server%20Variable%20Object/valid-variable-not-defined.yaml

For above examples, we throw errors, which makes sense but they are not a must required by the spec so we probably need to add some error levels (like error and warning) or simple flag that enables additional strict error handling:
https://github.com/asyncapi/parser-js/issues/

[2020-08-04 10:14] derberg opened #137 "Make sure new parser releases are not introducing any regression"
#### Reason/Context
Parser has many tests but not all cases are covered. https://github.com/asyncapi/tck/ was created to hold all the possible valid and invalid cases. We should make sure that with new releases the percentage of the parser compatibility doesn't decrease.

#### Description
Maybe we can add an action that runs tck on a PR and validates the numbers and block merge? tck outputs JSON w

[2020-08-04 10:17] derberg commented on #136
https://github.com/asyncapi/tck/blob/master/tests/asyncapi-2.0/Message%20Object/valid-internal-ref-correlationId.yaml
https://github.com/asyncapi/tck/blob/master/tests/asyncapi-2.0/Message%20Object/valid-internal-ref-header.yaml
https://github.com/asyncapi/tck/blob/master/tests/asyncapi-2.0/Message%20Trait%20Object/valid-internal-ref-correlationId.yaml
https://github.com/asyncapi/tck/blob/master/t

[2020-08-04 11:54] #136 closed

[2020-08-04 12:37] derberg opened #140 "Extract checkErrorWrapper and use it in other tests"
#### Reason/Context
Tests that do `try/catch` to evaluate thrown error must be wrapped in `checkErrorWrapper` to make sure tests always work, and they fail even if the test doesn't jump into the `catch`.

#### Description
- move `checkErrorWrapper` from `parse_test.js` to separate file, `utils.js` ?
- refactor `asyncapiSchemaFormatParser_test.js` and `customValidators_test.js` to use wrapper in te

[2020-08-04 14:40] derberg opened #142 "Add validation of operationId in OperationTraits"
#### Reason/Context
We have validation of duplicated `operationId` in `Operation` objects but it doesn't take into account a possibility that `operationId` can be provided in the `OperationTrait`

#### Description
- have test that checks https://github.com/asyncapi/tck/blob/master/tests/asyncapi-2.0/Operation%20Trait%20Object/invalid-duplicate-operationId.yaml and throws proper error that the oper

[2020-08-04 15:26] derberg opened #143 "Add validation of duplicated tags"
#### Reason/Context
We need to validate if users did not provide 2 tags with the same name on the same level. Tags can be provided in many objects, we should avoid duplicates only in a given object not across the whole document.

#### Description
- I don't think we can do it with JSON Schema. I found something like https://groups.google.com/forum/#!topic/json-schema/z34YqedG-1s but it won't work f

[2020-08-04 16:12] derberg opened #144 "YAML empty objects are null in JSON and cause parser errors"
#### Describe the bug
Such AsyncAPI file is not valid
[code]
and it is because when parsed to json, `subscribe` is NULL and ajv-validator or json-ref-parser (in other cases) fail.

#### How to Reproduce
Just paste [this](https://github.com/asyncapi/tck/blob/master/tests/asyncapi-2.0/Operation%20Object/valid-empty-object.yaml) doc in the playground and you will see it will throw errors

#### Expect

[2020-08-04 16:15] fmvilas commented on #144
That is a correct behavior. To indicate an empty object in yaml use `{}`.

[2020-08-04 16:20] derberg commented on #144
@fmvilas then https://github.com/asyncapi/tck/blob/master/tests/asyncapi-2.0/Channel%20Item%20Object/valid-empty-object.yaml and https://github.com/asyncapi/tck/blob/master/tests/asyncapi-2.0/Operation%20Object/valid-empty-object.yaml need to be fixed with `{}` or switched to invalid and called like `invalid-null-object`

[2020-08-04 16:28] fmvilas commented on #144
Yep. These have to be fixed.

[2020-08-05 05:09] derberg opened #145 "Add validation of query params in channel name"
#### Reason/Context
channel should not contain query parameters. The parser should throw a validation error once a query param is spotted.

#### Description
- add validation and test it against such an example https://github.com/asyncapi/tck/blob/master/tests/asyncapi-2.0/Channels%20Object/invalid-query-param-used.yaml

[2020-08-05 07:32] fmvilas commented on #145
You mean **channels** should not have query params, right?

[2020-08-05 08:08] derberg commented on #145
@fmvilas ups, yes 😄

[2020-08-05 08:39] #144 closed

[2020-08-05 17:22] McZenith commented on #140
Hi! I would like to grab this...

[2020-08-05 18:18] derberg commented on #140
@McZenith awesome, I'll assign to you. If you need real-time help/advice you can also join https://www.asyncapi.com/slack-invite/ and find be there on #tooling channel

[2020-08-05 18:26] McZenith commented on #140
@derberg Thank you, Updates soon...

[2020-08-10 12:58] derberg opened #157 "Throw meaningfull error when parser of specific schemaFormat is not available"
#### Describe the bug
We do not check if there is a parser available for a given custom `schemaFormat` and throw not meaningful error that `PARSERS[String(...)] is not a function`

Hint: this is where we trigger parsers and we need to validate if the function is really there -> https://github.com/asyncapi/parser-js/blob/master/lib/parser.js#L179

#### How to Reproduce
Just try to parse the spec wi

[2020-08-12 11:37] derberg commented on #83
I created a PR to `openapi-sampler` to get support for circular refs when we generate examples -> https://github.com/Redocly/openapi-sampler/pull/115

It is used here -> https://github.com/asyncapi/html-template/pull/48 and as you can see it looks pretty good

`markdown-template` is not part of this issue but it doesn't make sense to add circular ref support to `html-template` especially if we use

[2020-08-13 09:34] johndcarmichael commented on #93
Awesome! Thanks for the types guys, will work the new parser into boats and delete the ignore lints and custom unique opid checks :+1:

[2020-08-13 14:28] derberg commented on #83
work on markdown template showed me that what I have in html template is very bad, thus created another PR to the parser with better circ support https://github.com/asyncapi/parser-js/pull/161

[2020-08-14 06:59] derberg commented on #83
@nsnichols hey, this 👇 is how the rendering of circular refs will look like in markdown and html templates once we merge all my PRs. What do you think?

<img width="1621" alt="Screenshot 2020-08-13 at 18 52 38" src="https://user-images.githubusercontent.com/6995927/90222465-62fdde80-de0c-11ea-979f-a4d4c687e848.png">
<img width="858" alt="Screenshot 2020-08-13 at 17 54 22" src="https://user-images.

[2020-08-16 09:43] nsnichols commented on #83
@derberg, thanks for all the work you’ve done on this! The new output looks good.

One thing that is a little confusing to me in the example data is children showing up as both an array and an object. I’m not sure what you’re actually using as the schema so maybe it’s correct, but at first glance, the example is confusing to me. The way it’s _rendered_ looks nice.

[2020-08-17 09:15] derberg commented on #83
@nsnichols no worries. Sorry for the confusion, it is because when I worked on more complex example and did some copy/paste I did not change `children` to something else, so in one schema it is array and in another it is object:

[code]

We will wait a week or 2 for the merge of my PR to openapi-sampler and once it is done, the PRs to html and markdown templates will be merged

[2020-08-18 17:09] derberg commented on #119
We discussed it during an open meeting. We had an agreement that having a kind of `silent` flag is good as long as it is `false` by default. We just did not discuss in detail what can be `silent`. For now, my suggestion is to use the spec as a "decision maker" here, so if something is described by the spec and is not done in the document should be a normal error, others (even if important for code

[2020-08-24 17:01] derberg opened #164 "Integrate eslint plugin for jsdoc validation and fix potential issues"
#### Reason/Context
We rely on JSDoc not only to generate API ref docs but now also to generate TypeScript types. We should take case for the quality of those.

#### Description
Please try answering few of those questions
- integrate https://www.npmjs.com/package/eslint-plugin-jsdoc with eslint
- fix potential issues

[2020-08-27 05:26] derberg opened #166 "Parser API should expose functions for traversing through schemas"
#### Reason/Context
Traversing through JSON schemas with nested structure is not an easy task and requires a good knowledge of JSON Schema. The parser should make it easy especially that it already has a needed logic for anonymous id's assignment to messages and schemas, or detection of circular references.

#### Description
- expose something like this on the API level `asyncapi.traverseSchemas(c

[2020-09-07 12:40] jonaslagoni opened #170 "Auto generating the parser"
### Reason/Context
I love code generation, it makes it so much easier to create libraries and I feel like we can utilize this in the parser by utilizing the [machine readable files](https://github.com/asyncapi/asyncapi/blob/master/versions/2.0.0/schema.json) which are written in JSON Schema draft 7. This means we would have to create a parser, generator and parser template for JSON Schema draft 7.

[2020-09-07 13:11] derberg commented on #170
@jonaslagoni I have few questions:

what multiple versions you have in mind? there should be one, unless you mean that now we have more as we keep it in different locations?

you mean quicktype is not good enough?
---

It would not be too difficult to make AsyncAPI Generator a AsyncAPI/OpenAPI/JSONSchema/WhateverElseInTheFuture Generator. So technically it is not bad, I actually talked to Fran abo

[2020-09-07 14:04] jonaslagoni commented on #170
@derberg what I mean by multiple version is that the parser should support version 1, 2 and all in between and future version of the AsyncAPI specification.

Yes that would probably be the case.

Yes :smile:

[2020-09-11 11:53] #83 closed

[2020-09-14 14:01] #117 closed

[2020-09-14 16:34] derberg commented on #83
@nsnichols playground is updated to use latest parser, generator and html/markdown templates -> all with support for circular refs. Give it a try and create a followup issue in case you think it needs more improvements

[2020-09-16 12:54] derberg commented on #52
all the leftovers will be handled in separate issues

[2020-09-16 12:54] #52 closed

[2020-09-21 15:18] derberg opened #173 "Extend the components model with has-like functions"
#### Reason/Context

It would be very useful when working on docs/code generators to have a set of helper functions that let you easily determine if there is or not a specific component added to the `components` section of the AsyncAPI document and if it has any data. These components are not required and it is not required to have any data in them, so someone can add an empty object for example.

[2020-09-21 15:19] derberg commented on #88
duplicate https://github.com/asyncapi/parser-js/issues/173

[2020-09-21 15:19] #88 closed

[2020-09-21 16:01] kaibra commented on #130
Hey @derberg . I am fairly new in the async-api environment and just recently had a look at all the tools available.
I have one question regarding this topic ("should also work in the browser"):
Isn't this line breaking the parser in the browser: https://github.com/asyncapi/parser-js/blob/master/lib/parser.js#L45 (the call to "process.cwd()") ?

[2020-09-21 16:39] jonaslagoni commented on #130
Yep good catch @kaibra. Since we aren't trying to parse a file but parsing a string here
https://github.com/asyncapi/parser-js/blob/932d2dd6ee2f3e1c8ed79da7507a1a994ce86e66/test/sample_browser/index.html#L15
it is not triggered. Should be easily tested by parsing file instead of string in another test 😄

[2020-09-22 09:53] derberg commented on #130
why would you try to parse a file client-side? 🤔

[2020-09-22 11:35] kaibra commented on #130
I came to this point by looking at the react component, which has the parser as a dependency.
If I am not wrong, this line of code calls the parse function, we are talking about here:
https://github.com/asyncapi/asyncapi-react/blob/master/library/src/containers/AsyncApi/AsyncApi.tsx#L200

`schema` can be a string. In my case it was a string and it failed already.

I think you have a problem with y

[2020-09-22 11:48] jonaslagoni commented on #130
Good point, don't even think it is possible without it being an url, didn't realize this yesterday 🤦

@kaibra are you saying that you are unable to parse a string with the react component?

Looked a bit further into this, and tried downloading the generated parser bundle with the browser test and opened it in Chrome where it worked fine. I tried to dig further into why the tests parses while acces

[2020-09-22 11:49] derberg commented on #130
@kaibra exactly, browserify handles `process.cwd` properly, so the setup of bundle generation is proper, you should basically use `bundle.js` in your project, it is always a part of the release, on npm and github.

I do not remember how react component handles that without using the official bundle but as you can see, the latest version is used here https://asyncapi.github.io/asyncapi-react/ and w

[2020-09-22 13:07] kaibra commented on #130
Thanks for your responses. For some reason I thought the bundle.js is just used for testing.
I had a short look again and I think I am causing the error myself....
What I tried (like maybe others before: https://github.com/asyncapi/asyncapi-react/issues/75) is to integrate the asyncapi-react component in an angular application.
When debugging a small react app, using the asyncapi-react component,

[2020-09-22 13:42] derberg opened #174 "Cleanup GitHub Actions workflows"
**Context**

1. We want to make sure we have healthy community and people respec each other in GitHub. We want to monitor all comments in every repository and analyze sentiments to identify negative ones and get proper notification. Idea is to use GitHub Actions for it, to check sentiments with Google Natural Language API and post negative comments to Slack for review.

2. We manage community file

[2020-09-27 10:51] magicmatatjahu commented on #173
I think that another models like `Info` should also have `has*` functions (like `hasContact`, `hasLicense` etc) for all not required fields.

[2020-09-27 13:45] magicmatatjahu commented on #173
I made a simple PR https://github.com/asyncapi/parser-js/pull/175 and I checked that some models haven't relevant `has*` function for optional fields, for example `Info` model should have `hasContact`, `hasLicense` etc functions. Also some has-like functions should check that in checking object whole fields are required. What does it mean? `contact` field in `Info` model can be nil (`null` or `und

[2020-10-01 07:14] derberg commented on #100
video about the issue https://youtu.be/Iqs_2BiNEEo?t=1528

[2020-10-01 07:14] derberg commented on #140
video about the issue https://youtu.be/Iqs_2BiNEEo?t=1649

[2020-10-01 07:14] derberg commented on #142
video about the issue https://youtu.be/Iqs_2BiNEEo?t=1723

[2020-10-01 07:15] derberg commented on #145
video about the issue https://youtu.be/Iqs_2BiNEEo?t=1807

[2020-10-01 07:15] derberg commented on #157
video about the issue https://youtu.be/Iqs_2BiNEEo?t=1857

[2020-10-01 07:15] derberg commented on #164
video about the issue https://youtu.be/Iqs_2BiNEEo?t=1996

[2020-10-01 07:16] derberg commented on #173
@magicmatatjahu I totally agree, we need to properly handle those not mandatory fields that could be empty

[2020-10-01 07:16] derberg commented on #173
video about the issue https://youtu.be/Iqs_2BiNEEo?t=2060

[2020-10-01 12:43] jonaslagoni opened #176 "Anonymous schemas should have meaningful ids"
#### Reason/Context
We at Eurisco are not a big fan of the anonymous schema ids. They don't give any context to what anonymous schema or properties they are apart of which makes it hard to track down where it belongs. Instead we replace any anonymous schema ids to be the path to the object, see example solution for more details.

#### Description
The function giving schemas and messages anonymous

[2020-10-01 14:05] fmvilas commented on #176
Love it! I wonder how would this work when the same schema is referenced from multiple places 🤔 Are you really going to generate an id for each of them? If so, that could be counterproductive for model code generation, because you'll get the same model many times with different names. Anyway, it will always be better than having model file names like AnonymousSchema3 😅

[2020-10-01 14:16] komodovaran opened #179 "$ref doesn't work with multi-layer references, because working directory changes?"
#### Describe the bug
$ref doesn't work with e.g. A.yaml that refers to B.yaml, which refers to C.yaml. An example could be VerySpecific.yaml -> Generic.yaml -> Base.yaml.

I use this structure to generate C# classes as well.

#### How to Reproduce
1. Place yaml scripts in _/Directory_
2. A.yaml refers to B.yaml via $ref: '._/Directory/B.yaml_' and B.yaml refers to C.yaml via _/Directory/C.yaml_
3

[2020-10-02 08:45] jonaslagoni opened #177 "Wrong file reference throws TypeError"
#### Describe the bug
When you try to reference a non-existing file on the top layer it correctly throws an error telling you the file does not exist. However when you reference a file which reference a non-existing file you get `Error: Cannot read property '$ref' of undefined`

#### How to Reproduce
This was found through the generator where I am using version `1.0.0-rc.11`.

Using the following

[2020-10-03 13:25] magicmatatjahu opened #178 "Package should allow create instance of parser"
#### Reason/Context
- Why we need this improvement?

I have a mini project and I use parser-js, and I want to make logic in it, which would have a raml parser for one case and openapi for the other. However, the parser would throw an error in the raml parser that there is no openapi parser defined, and in the second that there is no raml parser defined. Currently, parsers are global, so if you use

[2020-10-05 08:49] derberg commented on #178
when do you get this error? this is pretty strange I have to say

[2020-10-05 11:51] magicmatatjahu commented on #178
@derberg I mean (sorry for misunderstanding), if I have a case where I need only parser for raml, and if someone use in this case asyncapi spec with e.g. openapi schema format, tne parser should throw error, than parser hasn't registered openapi parser, but in this same application I want to have another case, where parser has a registered openapi parser, and then if someone put spec with raml, pa

[2020-10-06 12:55] derberg commented on #178
for now, we do not throw any meaningful error if some schema parser is not available and this is what we have https://github.com/asyncapi/parser-js/issues/157 for

what is the real use case behind this idea, why would you like to have different instances of the parser with different custom schema parsers? what value it brings, why not have all the ones that you need always registered?

[2020-10-06 14:10] derberg commented on #179
@komodovaran I moved it to the parser repo as it concerns parser itself.

What do you have in `B.yaml` that you would like to run a generator against this file? you mean you have references between different AsyncAPI files?

[2020-10-07 23:39] DanielChuDC commented on #174
Hi, I am interested for this issue and currently working on this. Do you mind assigning this issue to me?

[2020-10-08 07:02] derberg commented on #174
@DanielChuDC feel free to take it, I just assigned it to you. We have the same issue in many other AsyncAPI repos

[2020-10-08 07:52] DanielChuDC commented on #174
@derberg  Thank you! I have submitted a pr. Please kindly review and accept it.

[2020-10-08 08:09] #174 closed

[2020-10-12 08:57] magicmatatjahu commented on #178
One of the possible cases: https://github.com/asyncapi/asyncapi-react/pull/163#issuecomment-704898456

[2020-10-12 14:17] derberg commented on #178
@magicmatatjahu how would it work with the react component? Also, I don't think classes are requirement for having a solution in the react component to register additional parsers

[2020-10-14 13:39] jonaslagoni opened #184 "Nested additionProperties are never crawled and therefore not returned by allSchemas function"
#### Describe the bug
When you have two nested additionProperties without having the additionProperties under a property it is never crawled by the crawler and are never returned with `allSchemas()` function.

#### How to Reproduce
Given the following schema `O2` will never be returned by the `allSchemas()` function.
[code]

#### Expected behavior
Would expect the `allSchemas()` function to return

[2020-10-14 13:47] jonaslagoni commented on #184
Closing, apparently writing it as `additionProperties` instead of `additionalProperties` helped. Should it not give errors when you mistype a keyword :thinking: ?

[2020-10-14 13:47] #184 closed

[2020-10-19 15:41] derberg commented on #177
Direct issue is here https://github.com/asyncapi/parser-js/blob/master/lib/utils.js#L21. It is not possible to locate the node that has an error as input here is always AsyncAPI document, while the error happens in referred file. If we change it to something like `obj = obj ? obj[utils.untilde(key)] : null;` we get error:

[code]

Would it be enough, or do you want to know in what file the error r

[2020-10-19 17:12] jonaslagoni commented on #177
I would say so yea, makes the debugging faster. Even though a simple `find` would do the same trick I still think the error handling should be like this :)

[2020-10-20 10:19] derberg commented on #177
@jonaslagoni yeah, you do not have to convince me to a good error handling. Throwing type error like `Cannot read property '$ref' of undefined` in user's face sucks and we need to fix it 😄

[2020-10-24 18:36] #177 closed

[2020-10-28 16:41] derberg commented on #173
@magicmatatjahu you can reopen your PR ;)

[2020-10-29 12:56] juergenbr commented on #145
I would like to work on this issue.
In my fork you can find a solution proposal, containing a new validator and test suite.
https://github.com/juergenbr/parser-js

[2020-10-29 13:51] derberg commented on #145
@juergenbr can you open a PR please, will be much easier to work this way. You can mark it as a draft if you want, but there is no need for this from my side

[2020-11-02 09:43] magicmatatjahu commented on #173
@derberg I force pushes commits before reopen and I had to create the new one. https://github.com/asyncapi/parser-js/pull/192

[2020-11-02 11:23] #145 closed

[2020-11-17 13:55] jonaslagoni commented on #49
v1.+  is out, closing.

[2020-11-17 13:55] #49 closed

[2020-11-19 09:42] jonaslagoni opened #200 "Disable PR testing if its a draft"
#### Reason/Context
Normally if I start working on a issue i create a draft PR as soon as I start so others know its being worked on. I normally also push changes to the branch quite frequently sometimes even when the code are not working or tests aren't going through, just to have a point in time I can go back to.

In that regard I don't find it useful to get emails or notifications that the test

[2020-11-19 09:51] derberg commented on #200
makes sense I guess, I like the second proposal, just thinking why `review_requested` would be needed 🤔 do you know when `ready_for_review` is emitted? always except of draft?

[2020-11-19 10:08] jonaslagoni commented on #200
`ready_for_review` is when [`pull request is taken out from draft mode`](https://frontside.com/blog/2020-05-26-github-actions-pull_request/). `review_requested` should only be used if we remove the `synchronize` event otherwise the test are not triggered when you open a PR in non-draft mode.

The if statement may be more suited and giving us a bit more control since there are no `ready_for_review_

[2020-11-19 10:13] derberg commented on #200
sure, I just prefered the other one as then action is just not triggered at all, but that is fine

[2020-11-19 12:05] magicmatatjahu opened #201 "Handle in proper way empty object/array in has* like functions"
#### Reason/Context

After discussion in this PR https://github.com/asyncapi/parser-js/pull/192 (comment https://github.com/asyncapi/parser-js/pull/192#issuecomment-729031318) we should consider in which way we should go with handling empty object/array in `has*` like functions. At this moment, `parser-js` returns `true` if given field has object/array with values, and also true if object/array is

[2020-11-19 12:22] jonaslagoni commented on #201
I still have the point of view that `has*` implies something has been defined i.e. it has values or has been defined with values in which empty arrays/objects does not :smile:

[2020-11-19 12:22] #173 closed

[2020-11-19 12:25] jonaslagoni commented on #200
Yea I agree. But if we do that we loose the ability to run actions on each change i.e. `synchronize` which I don't think we want right?

[2020-11-19 12:40] derberg commented on #201
I like `has*` functions (didn't think if they can have better name) as they imply clearly what function is for. We should have those functions all around  and use them only to determine if given part of spec is present or not. This way, in the future, it will be easy to change the logic inside those, depending how we understand that something `is there` or `isn't`. Function like `properties` shoul

[2020-11-19 13:12] derberg commented on #200
definitely, no objections to your proposal here, makes sense to me

[2020-11-19 13:54] derberg opened #203 "Twitter action runs on wrong commit"
#### Describe the bug
Since https://github.com/asyncapi/parser-js/blob/master/.github/workflows/release.yml#L47-L49 was introduced, during release, Twitter action is [not run](https://github.com/asyncapi/parser-js/runs/1424076862?check_suite_focus=true) (ignore erros from pull request action, it still works and pr is created), then it runs when chore commit with package.json bump appears -> https:

[2020-11-25 09:46] #200 closed

[2020-11-27 16:15] rkling01 opened #207 "Add ability to configure ssl certificate authentication to avro parser"
I have an on premise implementation of the schema registry where it requires the ability to configure providing an ssl certificate for authentication (does not use key/secret authentication).  Would like to see if the ability to provide the location of the ssl certificate could be added to the AsyncAPI file to it can be passed in the uri fetch request in the message.payload.$ref.

[2020-12-01 08:08] derberg commented on #140
@McZenith are you still working on this? pr just got closed by the stale bot

[2020-12-07 08:39] derberg commented on #179
@komodovaran is it still valid?

[2020-12-07 21:00] komodovaran commented on #179
Sorry for the slow pace.

I decided to forego this kind of file referencing entirely by simply splitting it into multiple files and merging them when they're being processed.

[2020-12-08 08:29] derberg commented on #179
@komodovaran thanks for the confirmation

[2020-12-08 08:29] #179 closed

[2020-12-10 08:04] c-pius opened #210 "messageTrait not applied when message not used in a channel"
**Description**

We want to integrate the react component into our project for displaying specifications of messages to be implemented. Because the messages are not implemented but only specified by us, we define them only in the `components/messages` section and don't use the `channels` section (passing an empty object).

However, if the message is not referenced from a channel, it doesn't apply

[2020-12-10 09:06] derberg commented on #207
We use `json-schema-ref-parser` and in their docs they specify that some custom resolver could be written https://apitools.dev/json-schema-ref-parser/docs/plugins/resolvers.html. We could enable users of the parsers to register a custom resolver. It is not something that would solve your issue but will enable you to solve it 😄

We just need a way to let you pass an instance of the resolver to the

[2020-12-10 10:59] #166 closed

[2020-12-10 15:40] fmvilas commented on #207
I think that we should be solving this issue ourselves, either by contributing to `json-schema-ref-parser` or creating a custom resolver ourselves. However, this is gonna take time so a middle-ground solution like you proposed would be great in the meantime.

[2020-12-10 16:39] derberg commented on #203
fixed with https://github.com/asyncapi/parser-js/pull/209

[2020-12-10 16:39] #203 closed

[2020-12-13 16:14] c-pius opened #219 "anonymous schema ids for standalone messages"
#### Describe the bug
Related to #214

When parsing standalone messages of the `components.messages` object (no reference from channels), the `x-parser` properties are not added to the messages in the output schema.

See also https://github.com/asyncapi/parser-js/pull/214#issuecomment-742725894

#### How to Reproduce
Check the tests for `test/good/asyncapi-no-channels.yml` or `test/good/asyncapi-m

[2020-12-29 16:53] DanielChuDC commented on #100
Hello, @derberg I am interested in this issue. I took some time and dig the code. Would like to ask for your suggestion about my solution.

`file directory: lib --> server-variable.js`, inside have include the function to parsing example variables.

[code]

I am thinking to add some if else statement to judge the value is define within enum. If found enum specification and the value does not match

[2020-12-30 07:26] derberg commented on #100
@DanielChuDC hey, welcome back, awesome you stayed after the Hacktoberfest 🥳

The validation of the server variables' examples must happen sooner than `server-variable.js`. The code you mention belongs to the object that is the output of the parsing. Validation must happen before parsing is finished. All custom validators are here https://github.com/asyncapi/parser-js/blob/master/lib/customValidat

[2021-01-01 12:19] DanielChuDC opened #220 "Window not define"
#### Describe the bug
A clear and concise description of what the bug is.

/user/parser-js/node_modules/yargs/yargs.js:1172
      else throw err
           ^

ReferenceError: window is not defined

#### How to Reproduce
Steps to reproduce the issue. Attach all resources that can help us understand the issue:

Clone this project in Mac, run `npm i` && `npm test`

- Files that can help reproduce the

[2021-01-01 12:22] DanielChuDC commented on #220
Also some of the package for npm need a patch

[code]

[2021-01-01 14:44] DanielChuDC commented on #100
Hi @derberg , I have modified the code.

[code]

Added a function.

Will this code works?

Cannot test on it due to #220 .

[2021-01-04 11:17] derberg commented on #220
@DanielChuDC please update your branch to the latest master. Testing works well there, also much fewer packages require update.

The testing error you get at the moment happens when testing fails and generated `bundle.js` is not removed from `test/sample_browser/bundle.js`. Now scripts are updated to clean it out properly, thus you need to update to latest master

now to manually fix your problem

[2021-01-04 12:05] DanielChuDC commented on #220
that works! closing this issue.

[2021-01-04 12:05] #220 closed

[2021-01-04 15:49] DanielChuDC commented on #100
hehe I manage to fix it! on branch https://github.com/DanielChuDC/parser-js

But the documentation job run is failed. What should I do?

[2021-01-04 18:59] derberg commented on #100
@DanielChuDC the best would be if you could open a PR, this is much easier for me to review and interact with code. We will also clearly see what CI has to say while checking the PR. Don't worry you are not 100% sure if PR is correct or not, it is ok to reiterate on a PR

[2021-01-05 00:51] DanielChuDC commented on #100
Thank you @derberg . The pull request has been created!

[2021-01-07 12:02] #210 closed

[2021-01-12 15:27] JQrdan opened #224 "Getting a validation error while attempting to parse a document points to a url that does not exist"
#### Describe the bug

When trying to parse an invalid api through `parser.parse(api)`, it spits out:

[code]

The url provided (https://github.com/asyncapi/parser-js/validation-errors) does not exist.

#### How to Reproduce

See above

#### Expected behavior

It should point to a page that explains the various validation errors

[2021-01-13 09:08] derberg commented on #170
@jonaslagoni you still with the idea? looks like it is connected with current work on data model generation

[2021-01-13 09:59] derberg commented on #224
@JQrdan thanks for bringing this up. This link is useless at the moment. The only place we could link to is https://github.com/asyncapi/parser-js/tree/master#error-types but I guess the best would be something like https://www.asyncapi.com/docs/parser-js/errors/validation-errors

I dug a bit more and noticed [we write in JSDocs](https://github.com/asyncapi/parser-js/blob/bb13b9dd7b8c3edc11740d8887

[2021-01-13 10:36] jonaslagoni commented on #170
I would say so yes. However it will be some time until we can implement it 😄

[2021-01-13 10:43] derberg commented on #170
@jonaslagoni I'm more concerned by `complexity`. I mean this is not a task that takes 1day/week/month. It is a big one and needs many prerequisites. If we do not make the decision to go in this direction, it will not be solved for a few months 😄

yeah, just wondering if it makes sense to keep it open 😉 of course keep open labels is a kind of option.

[2021-01-13 11:24] jonaslagoni commented on #170
I mean this issue does relate to the bigger issue of how we want to handle the changes in the spec in our tools and how we can minimize the maintainers work as much as possible.

I could convert this to a research pitch for a cycle instead, what you think @derberg ? 🤔

[2021-01-13 11:34] derberg commented on #170
Could be, 3.0 will happen this year for sure, would be great to know how technically we can handle it in a more efficient way than we do it now

[2021-01-13 16:21] fmvilas commented on #224
Absolutely agree that this issue is a great candidate for a pitch. I don't have much time left to write it but feel free to do jump in if you feel in the mood 🙏

[2021-01-13 19:27] derberg commented on #224
@fmvilas yeah, not necessarily for this cycle 😉

[2021-01-16 10:47] jonaslagoni opened #226 "No functions to access message and operation traits"
#### Reason/Context
Even though we provide access to message and operation traits if listed in the components sections, there exist no functions on the operation and message objects themselves to access traits if you use the parser with the option `applyTraits = false`.

#### Description
I would expect functions such as the following to be available:
Message trait: `asyncapi.channel('mychannel').p

[2021-01-18 09:40] derberg commented on #226
This was exactly my question after reading the context section. What is the use case here really?

[2021-01-18 09:48] jonaslagoni commented on #226
You wouldn't IMO, however as stated you have no way to access those traits (without accessing the underlying json schema) if you for example parse an AsyncAPI document with the option `applyTraits = false`.

[2021-01-18 09:51] derberg commented on #226
oh, you found the use case, if we allow `applyTraits = false` we should also enable easy access to traits

[2021-01-18 10:04] #219 closed

[2021-01-18 10:15] jonaslagoni opened #229 "Some schemas are never iterated"
### Describe the bug
The following schemas are never iterated and therefore are never assigned ids.
- Standalone component parameters
- Standalone component traits with headers

### How to Reproduce
The following yaml file should give parameters and headers uids.
[code]

### Expected behavior
Expected schemas to iterated

[2021-01-18 10:32] jonaslagoni opened #230 "Restructure the test schema files for better maintainablility"
#### Reason/Context
When testing in the parser we use a combination of both inline strings and files where I find it confusing in the way it is structured. Often it is very specific changes we want to look for and the way the files and inline constants are structured are not very intuitive. I see this as a pre-step to adding more tests for our iterators and anonymous namings.

#### Description
I w

[2021-01-18 13:12] jonaslagoni opened #232 "Handling schema true and false"
#### Describe the bug
You can define a schema as `true` or `false` to accept or reject all such as
[code]

Now the problem is that our anonymous uid assignment tries to assign a uid to such schemas when its not possible.

This problem triggered the tests to fail for https://github.com/asyncapi/raml-dt-schema-parser/pull/25.
#### Expected behavior
There are a couple of ways we can handle this.
1. W

[2021-01-18 14:01] jonaslagoni commented on #232
After a lengthy discussion on Slack with the json-schema community my perspective of the `true` and `false` schema's has changed. I saw it more as a `type` then the actual representation of absence and presence of types which is why it is defined as is.

[2021-01-18 14:59] jonaslagoni commented on #232
@magicmatatjahu @derberg thoughts? 🤔

[2021-01-18 15:47] derberg commented on #232
@jonaslagoni I saw your discussion in slack. If this doesn't represent the data but rather indicates if data can exist, then I guess we should not assign id to it. On the other hand, you would generate a data type for it right, even if it is just false/true?

[2021-01-19 09:33] jonaslagoni commented on #232
Yes, with for example in typescript I would want to generate `any` type for that property.

I think we shouldn't assign uid to those schemas and just ignore them as you said 😄

[2021-01-21 15:08] jonaslagoni opened #233 "Missing schema test for description"
#### Describe the bug
We do not have any schema test for `description` which is part of JSON Schema draft 7.

#### Expected behavior

would expect something like the following test
[code]

[2021-01-25 17:45] derberg opened #240 "Wrong position information about errors in the root of the document"
#### Describe the bug
If I add some additional property to the root of the document (which is not allowed) I get an error like below (if I combine it from `title` and `startLine` and `startColumn`)

[code]

#### How to Reproduce
Try to parse AsyncAPI document with property `test: true` on the root of the document.

#### Expected behavior
I should not only get information `/ should NOT have additio

[2021-01-30 00:40] #142 closed

[2021-02-03 14:42] JQrdan opened #245 "`x-parser-original-payload` isn't the original payload with asyncapi schema parser"
Using something like `channel.subscribe().messages('myMessage').originalPayload();` will return a schema that has all of the `x-parser-schema-id` extensions baked in. This is not part of the original payload. This isn't an issue with the Avro schema parser as they remove the reference to `message.payload` for the original.

We've managed to create a custom parser that gets around the issue:

[code

[2021-02-03 16:50] derberg commented on #245
This is a tricky topic. Just recently I discussed it in [this](https://github.com/asyncapi/parser-js/pull/214#discussion_r547948010) PR and it was exactly about `clonedeep`.

`channel.subscribe().messages('myMessage').originalPayload();` returns payload with `x-parser-*` props because I assume you use default AsyncAPI schema format for your payload. This means, [this parser](https://github.com/asy

[2021-02-03 17:01] JQrdan commented on #245
I agree that deep cloning here could easily very expensive with larger specs! It's definitely one way around our problem as is  doing a traverse to remove everything with `x-parser-`. I think there's also the larger question of the parser does some transformation of the payload (just adding extensions) but I don't want those extensions so doing by using `originalPayload()` I would expect to get th

[2021-02-03 17:03] JQrdan commented on #245
It's nice that there's the extensibility of the parser than we can opt into doing this cloneDeep ourselves but it feels very icky having a permanent 'work around' as this is only the case when there is an asyncapi schema (AFAIK)

[2021-02-11 00:33] #178 closed

[2021-02-11 14:02] derberg commented on #140
closed with https://github.com/asyncapi/parser-js/pull/251

[2021-02-11 14:02] #140 closed

[2021-02-11 14:05] derberg commented on #245
@JQrdan that is true but because the schema is not changed/transformed like in case of others

[2021-02-15 17:09] derberg opened #252 "Measure performance of the parser"
#### Reason/Context
The parser should be fast and lightweight. We should always make sure about it on PR level:
- measure bundle size to not make browsers cry when fetching
- measure parsing performance
- always check those to make sure a given feature doesn't affect the performance of the parser

#### Description
Please try answering few of those questions
- have a github action that measures bot

[2021-02-15 17:10] derberg commented on #245
@JQrdan you know what, I should not worry about something that we don't even measure. Please submit PR to fix it [here](https://github.com/asyncapi/parser-js/blob/master/lib/asyncapiSchemaFormatParser.js) and don't include the entire `lodash` as dependency but https://www.npmjs.com/package/lodash.clonedeep

I logged another issue to work on perf testing

[2021-02-16 15:03] #100 closed

[2021-02-16 19:17] fr3shw3b commented on #233
Hi, I'm happy to make a contribution for this. However, does this issue still exist?
I ask as I can see there is the description test mixin which is being pulled into the models/schema_test.js in the `#mixins` describe block.

https://github.com/asyncapi/parser-js/blob/master/test/mixins/description_test.js
https://github.com/asyncapi/parser-js/blob/master/test/models/schema_test.js#L545

[2021-02-17 08:38] derberg commented on #233
@jonaslagoni @magicmatatjahu I agree with @fr3shw3b . Looks like this one can be closed and we do not need anything super explicit. We have pretty good coverage in schema model:
[code]
only a few tests missing for the some conditions

[2021-02-17 09:02] magicmatatjahu commented on #233
Yep, we test some repetitive fields inside mixins.

[2021-02-17 09:03] magicmatatjahu commented on #233
@fr3shw3b If you want you can write test for uncovered lines as @derberg mentioned

[2021-02-27 09:06] jonaslagoni commented on #229
After some research here are the schemas keywords we need to add to the iterator:

- `patternProperties`
- `definitions`
- `dependencies`

Furthermore this check https://github.com/asyncapi/parser-js/blob/9efaeee7f8dbad2e8b3a2e1a793f178780009599/lib/iterators.js#L65 should be removed completely IMO. Since if properties have been defined (lets say they omit the `type` keyword) we still need to be a

[2021-02-27 09:30] jonaslagoni commented on #229
If anyone is up for the task we are always ready to help you out in the implementation of the issue, if it needs more explaining, just let us know 👋

[2021-02-27 10:52] aeworxet commented on #130
**Following [https://github.com/asyncapi/asyncapi-react/issues/255](https://github.com/asyncapi/asyncapi-react/issues/255), issue is postponed until [React component](https://github.com/asyncapi/asyncapi-react) is refactored to use the majority of types from the [parser-js](https://github.com/asyncapi/parser-js).**

[2021-03-12 14:49] fr3shw3b commented on #233
@magicmatatjahu Alright, I can do that, do we need a new issue to associate the PR with or can we stick with this one?

[2021-03-12 15:24] magicmatatjahu commented on #233
@fr3shw3b Hi! We haven't, so if you wanna do that, please also create, as you mentioned, separate issue. We will be very grateful! :)

[2021-03-15 00:37] #170 closed

[2021-03-16 14:40] arjungarg07 commented on #229
I am getting familiar with the codebase of parser-js and will pick up this issue real soon.

[2021-03-17 15:02] arjungarg07 commented on #143
I am currently getting familiar with the codebase of `parser-js` and would like to give this issue a try soon.

[2021-03-24 13:22] arjungarg07 commented on #229
Hey @jonaslagoni, By `standalone components` you mean which do not have `$ref` (reference) to another type of schemas?
Can you please clear this doubt on `standalone components` Thanks

[2021-03-24 13:36] jonaslagoni commented on #229
@arjungarg07 Yes either that or directly referenced by the document such as for `testParam` is never referenced by a channel and therefore never given an id. Because it is a standalone parameter no one uses 😄
[code]
Did that make sense? 🤔

[2021-03-24 13:47] arjungarg07 commented on #229
Yeah, that makes sense. Thanks😀

[2021-03-28 20:22] magicmatatjahu commented on #232
I also ran into this problem 😅 However ids are not the biggest problem at the moment, but the fact that the Base model is not adapted to use the `true/false` schema (see [code](https://github.com/asyncapi/parser-js/blob/master/lib/models/base.js#L11) - we cannot assign to schema `false` value) and also that we [use draft-04](https://github.com/asyncapi/parser-js/blob/master/lib/parser.js#L92) in t

[2021-03-29 10:42] derberg commented on #232
but then just Base model needs to be fixed right? the problem that is there is not intentional imho. It is a typical check you do there, to throw an error if an argument is not passed to the function. We just need a better check, if json is undefined, or am I missing something?

[2021-03-29 11:09] magicmatatjahu opened #266 "Stringify parsed schema"
Currently if you want stringify parsed schema you must do it manually by `JSON.stringify` function. However, here we have a problem with circular schemas and we must add as third parameter custom function to handle these circular schemas.

I suggest to have static `stringify` function inside `AsyncAPIDocument` to handle described problem:

[code]

Some use cases for this feature:
- handle validati

[2021-03-29 11:37] magicmatatjahu opened #267 "Split package to parser and parser-api packages"
At the moment parser in source code has two main parts: validation/parsing and corresponding models which share the API for parsed schema: `AsyncAPIDocument`, `Schema`, `Operation` etc models.

My suggestion is split package to two separate ones:
- `@asyncapi/parser-api` or `@asyncapi/parser-models` - package only with models (and with API),
- `@asyncapi/parser` - package for validation and parsin

[2021-03-29 11:48] magicmatatjahu commented on #226
@derberg @jonaslagoni We have option to access to traits by `x-parser-original-traits` extension[ here](https://github.com/asyncapi/parser-js/blob/master/lib/parser.js#L228), so we only must write API for that :)

[2021-03-29 11:59] magicmatatjahu commented on #232
@derberg You're right, it's check not only for Schema but only for other models... so we should override constructor for Schema model like:

[code]

[2021-03-29 12:14] magicmatatjahu commented on #252
We can use https://ajv.js.org/standalone.html to generate validate function for our schema to improve performance. At the moment we "compile" schema in each `parse` function execution ([line](https://github.com/asyncapi/parser-js/blob/master/lib/parser.js#L94)). I don't know how we can speed parsing, but I think that it should be faster :)

[2021-03-29 12:22] jonaslagoni commented on #266
I like the idea, might want to add it to `Base` since one might want to stringify different kind of objects and not just the root.

[2021-03-29 12:38] derberg commented on #266
do I get it right, you want to parse it to get a string and then pass it to the component that parses it again? or am I missing something? I case I'm right, isn't it better to make react component accept `AsyncAPIDocument` and skip parsing in the component?

[2021-03-29 13:13] magicmatatjahu commented on #266
@derberg You're right about React component, it should accepts the `AsyncAPIDocument` instance, but problem is with circular schemas inside spec. As I wrote if you parse spec in server-side, you must stringify it before send, but if you have circulars schemas then you will have error with stackoverflow, because `JSON.stringify` cannot handle deep circular references and our `stringify` function wi

[2021-03-29 13:24] derberg commented on #266
yup, but we do not have a use case for now as afaik we do not want the studio to have a server anymore but be client-side.

also the problem with stringify is -> what will be the output? how will those circular refs be presented in stringify spec so they are not lost? did you think about this part?

[2021-03-29 13:37] magicmatatjahu commented on #266
Studio will still have server-side part for login etc parts. If you don't trust me, go to [source code](https://github.com/asyncapi/studio/tree/master/src/routes). Studio isn't a Playground, it has a front-end part but still also backend-end part, not for render spec but for other things.

Also I added two use cases in issue description, for Studio and for HTML-Template :)

I know about this part

[2021-03-29 16:23] #245 closed

[2021-03-29 16:41] derberg commented on #266
I clicked on the link, saw some .js files but still my opinion did not change :trollface:
I'm not talking about what Studio is now (even though as you noticed, there is no parsing in the server anyway), but what studio is supposed to be later. We want to try to get rid of the server to not pay for hosting like it is done now with the parser, this is why we have the investment in react component th

[2021-03-29 18:11] magicmatatjahu commented on #266
But in which way? 😄 We can make improvements by passing `AsyncAPIDocument` as a prop, but you need parsed schema (I mean merged traits, made dereference etc) to create the correct instance of the `AsyncAPIDocument` class, so here is a next problem:

I can use the `originalAsyncAPI` but I don't want to parse and validate the spec each time when user load HTML-Template, and for this I stringify the

[2021-03-30 09:11] magicmatatjahu commented on #266
Additionally, I need parsed schema for hydration in case when someone pass in spec reference to file.

[2021-03-30 09:41] arjungarg07 commented on #229
Hey @jonaslagoni , I parsed this doc, and on calling `doc.allSchemas()` I am getting the output as shown. I think `patternProperties` ,`definitions`, `dependencies` are already iteratable, So can you please tell why do we need to add these keywords in iterator?
[code]
<img width="465" alt="Screenshot 2021-03-30 at 3 10 40 PM" src="https://user-images.githubusercontent.com/53009722/112968620-19c788

[2021-03-30 09:49] jonaslagoni commented on #229
@arjungarg07  In your example you have defined schemas called `patternProperties` ,`definitions` and `dependencies`. You need to use them as keywords in a schema. Such as:

[code]

[2021-03-30 13:07] derberg commented on #266
tbh I was not aware of how hydration in React works, I'm surprised that in the end there are some things running in the browser anyway. If this is the only way to make it work, instead of the web component then let's do it. Just check to Gatsby to be 100% sure there is no other way

[2021-03-30 13:40] magicmatatjahu commented on #266
I will :)

[2021-04-01 14:03] smoya opened #277 "Generate models with generator-model-sdk"
#### Reason/Context
https://github.com/asyncapi/generator-model-sdk will reduce operational complexity and code duplication by generating the models that represent the Spec replacing the ones we manually maintain at [lib/models](https://github.com/asyncapi/parser-js/tree/master/lib/models).

At this moment, some missing features on the `generator-model-sdk ` projects stop us to move this forward.

[2021-04-02 13:06] fr3shw3b opened #278 "Improve test coverage for the schema module"
This issue was created as a result of suggestions made in issue #233.

The schema module currently has missing tests for some conditions as highlighted in #233.

As my first contribution to the parser project I will be adding these missing tests.

[2021-04-02 13:25] derberg commented on #278
@fr3shw3b sounds great! let us know if you need something

[2021-04-04 13:53] KhudaDad414 commented on #240
@derberg All we get from ajv is this:
[code]
would that help if we add the additionalProperty to validationErrors?
we can go from this:

[code]
to this:

[code]
then we can create a customized message like: `Please remove 'test' from /`.
does this solve the issue? am I missing something?

[2021-04-06 11:22] derberg commented on #240
@KhudaDad414 hey, I think it is more about looking for a bug in `improveAjvErrors`

The problem here is the `undefined` part. So info about `/ should NOT have additional properties` is not enough as you might have large document where you add something like `info2` somewhere in the document and you need to figure where it is located. The error message should tell you what line and column in the do

[2021-04-07 05:02] KhudaDad414 commented on #240
@derberg got it. created a pull request fixing the issue.

[2021-04-07 06:14] KhudaDad414 commented on #137
@derberg I want to work on this. I think _tck_ is not available as an npm repository. If you make it available then we can install it, generate the results and write a test to validate the result? or something? If you could show me the way(or some similar thing that has been done) I can start working on it.

[2021-04-07 06:58] derberg commented on #137
The trick here is to get `tck` and run against parser from PR and not the one specified in dependencies. We didn't do it anywhere yet. This is what needs to be figured out and I don't have a clear recommendation there as I haven't look into it that deeply, I'm not an author of tck. The options we have here:

- tck is not only a set of test documents but also a project where a number of parsers are

[2021-04-07 11:13] #240 closed

[2021-04-08 05:23] KhudaDad414 commented on #230
I agree. Last day I was adding some test and I was thinking of the same thing. I am not sure about your proposed structure but one thing is for sure. the tests are not well structured.

[2021-04-08 11:04] jonaslagoni commented on #230
@KhudaDad414 Agreed my structure might be far from ideal 😅 Do you have any suggestions on how we can do it?

[2021-04-08 11:14] KhudaDad414 commented on #230
@jonaslagoni I was searching through other libraries to find a better solution. sorry to disappoint but I wasn't able to find a better structure. I can open a PR making the changes.

[2021-04-08 11:16] KhudaDad414 commented on #230
@jonaslagoni should I go for it?

[2021-04-08 11:16] jonaslagoni commented on #230
Awesome @KhudaDad414, if you have a vision on how we can structure it differently than we are now which provides better maintainability go for it 👍

[2021-04-08 11:32] KhudaDad414 commented on #230
@jonaslagoni what do you think about this:
![PXL_20210408_155906209.jpg](https://user-images.githubusercontent.com/32505158/114019472-b1705980-9883-11eb-935e-d7f4dd1c57d7.jpg)

[2021-04-08 11:34] KhudaDad414 commented on #230
We move all of the folders containing test files into a new folder called files. Then create a new folder for outputs, extract all of the outputs from variables into the files inside outputs folder?

[2021-04-08 11:52] KhudaDad414 commented on #230
My reasoning:

1) most of the files belong to parse tests. If we categorise them by test, then nearly all of the files will go into the parse-test-files folder.

2) some files are used by more than one test, like good/asyncapi.yaml. what should we do about them?

3) are we going to mix good and bad files? If not then for each input folder of each test we will have two more folders for good and wro

[2021-04-08 12:47] derberg commented on #230
hello, I'm a party pooper 😆   and want to challenge you with a question 😄

is it possible, that we simply get rid of all those test files and instead use test files from [TCK](https://github.com/asyncapi/tck) only?

[2021-04-08 12:50] jonaslagoni commented on #230
@derberg beat me to it 😄 Problem is TCK is not set up to be integrated (as far as I know).. It would indeed remove some of the files, but some are used to ensure correct output as well, such as anonymous messages and schemas are given ids... Not sure exactly how we should solve this. It is some serious refactoring of the entire testing setup we are talking about then.

[2021-04-08 12:57] derberg commented on #230
then we should finally do it 😄 just need to publish test files to npm as we do with the spec maybe? -> https://github.com/asyncapi/asyncapi-node

but these are not in files but inside test in a variable as expected output right?

yeah 😓 I'm just not sure simple restructure will actually help. And we anyway run tck against parser later, why not do it here on a PR level. @KhudaDad414 rings the bell?

[2021-04-08 13:31] KhudaDad414 commented on #230
@derberg Now that's some serious solution to this issue.😀

[2021-04-08 13:34] derberg commented on #230
![](https://media.giphy.com/media/ihZE96PwPf2UMYbnZ5/giphy-downsized.gif)

[2021-04-08 13:42] jonaslagoni commented on #230
Maybe yea... Or provide iterators that can be used directly in tests so you would not have to create this in each library. Would be great to use TCK for templates as well (of course only the valid files would be useful there, maybe?). So we have to think beyond just a specific library.

No, we have some direct tests in the parser test which check this against a provided file. Of course, at the mom

[2021-04-08 13:43] KhudaDad414 commented on #230
I'm going to experiment with some solutions to integrate tck into the parser.

[2021-04-11 15:37] KhudaDad414 opened #283 "100% coverage for tck"
#### Reason/Context
before we can integrate tck into this repository(for closing #137 ), we have to make sure that parser-js has  100% tck coverage.

[2021-04-13 10:51] magicmatatjahu commented on #266
@derberg I tested Gatsby and unfornatelly it doesn't work. Gatsby includes whole component with parser and also "stringify" in fly the parsed spec (to include it to the final rendered site) so circular reference in parsed spec throws stackoverflow error. Additionally Gatsby adds an internal code only used by Gatsby so site increases the final size.

Can I then contribute and describe the functiona

[2021-04-14 08:37] derberg commented on #266
🤦🏼

I understand this is the ONLY solution that can help us out to use react component inside HTML template, so yeah, go ahead. Consider what @jonaslagoni said, that might be useful to have it on each model

[2021-04-16 14:28] jonaslagoni opened #287 "Cannot access externalDocs from the root object"
#### Describe the bug
It is possible to describe `externalDocs` with the spec, but there is no function to get it.
https://www.asyncapi.com/docs/specifications/2.0.0#A2SObject

#### Expected behavior
Expected a function to be able to retrieve such a property.

[2021-04-16 15:02] magicmatatjahu commented on #287
@jonaslagoni We are using mixins to add to models repetitive intents -> https://github.com/asyncapi/parser-js/blob/master/lib/models/asyncapi.js#L270 :)

[2021-04-16 15:08] jonaslagoni commented on #287
Ahh, right 🤦

[2021-04-16 15:08] #287 closed

[2021-04-23 14:14] magicmatatjahu opened #291 "Add description for used custom extensions in parser"
Currently our parser adds an internal (started by `x-parser`) custom extensions to define missed/additional info about spec/some part of spec. Only extensions related to circular refs are described in main `Readme.md` of repo. We should make description for every custom extensions applied by parser to spec.

AC:
- find all custom extensions and add understandable description for them in `Readme.md

[2021-04-25 17:10] magicmatatjahu opened #293 "Handling of circular refs in spec is broken"
#### TL;DR;

Handling of circular refs in spec is broken and we should fix it.

#### Describe the bug

Currently our parser handle circular refs. In opinion the result is invalid:

- we handle very simple cases, only `properties` for `object` type and we marked every "circular" `items` as circular, what is not a valid. Readme.md says:

- we don't handle circular refs in combined schemas (see https

[2021-04-26 08:31] #278 closed

[2021-04-26 08:52] derberg commented on #293
Hey, can you modify this issue a bit as I'm afraid it is touching 2 different topics, in the main description you're focused on explaining the bug, and then in **expected behavior** section you talk about a new feature.

- I suggest you move the proposed feature to a separate task as it has nothing to do with the bug
- Please provide **expected behavior** in the way that it is easy for anyone to p

[2021-04-26 09:41] magicmatatjahu commented on #293
@derberg For me, the lack of support for circular references in extensions is a bug (they can also be used in schemes, so it should be supported), but okay, I'll make a separate issue with a description of what it should look like for bindings and extensions, btw. the same way as for the scheme.

[2021-04-26 10:06] derberg commented on #293
lack of support != bug 😄
when I worked on it, the intention was to have it for schemas. When we add support for extensions and bindings, it will be `feat:` not `fix:`

[2021-04-26 20:51] vishesh13byte commented on #291
I tried to find all the custom extensions and found these custom extensions ,is this list complete?

- 'x-parser-spec-parsed'
- 'x-parser-message-name'
- 'x-parser-schema-id'
- 'x-parser-circular'
- 'x-parser-circular-props'

[2021-04-27 06:30] derberg commented on #291
there is also `x-parser-message-parsed`, `x-parser-original-traits`, `x-parser-original-payload`, `x-parser-original-schema-format`.

[2021-04-27 08:13] vishesh13byte commented on #291
I am understanding the usages and implementations of these extensions, will try to come up with concise descriptions for them.
💯

[2021-04-27 08:19] magicmatatjahu opened #294 "Handle circular refs in extensions and bindings"
#### Reason/Context

We currently handle circular refs only in schemas, but we should also in extensions and bindings. Check [issue](https://github.com/asyncapi/parser-js/issues/293) to see how it should works.

[2021-04-29 20:34] vishesh13byte commented on #291
I have tried to add concise descriptions for all the custom extensions based on my understanding of their use cases and implementations. I have created pull request #295 ,please have a look . 🙏

Thank you.

[2021-05-09 09:49] derberg commented on #99
This one is still very much needed. Should not be complicated because it is about comparing data against schema, and ajv is already used in the parser

[2021-05-12 07:48] derberg commented on #233
closing as this one requires no action

[2021-05-12 07:48] #233 closed

[2021-05-18 10:45] derberg commented on #143
@arjungarg07 still interested?

[2021-05-18 11:25] arjungarg07 commented on #143
@derberg Currently working on #265, would love if someone can follow up on this for now.

[2021-05-20 13:47] jonaslagoni opened #303 "Unknown schemaFormat throws code error"
#### Describe the bug
We assume that parser exists for custom schema format when it might. This throws `PARSERS[String(...)] is not a function` which is not really saying anything.

#### How to Reproduce
I just used the playground with the following schema:

[code]

#### Expected behavior
Expected it to throw a meaningful error.

Fault location: https://github.com/asyncapi/parser-js/blob/c9d751ce3

[2021-05-20 14:43] derberg commented on #303
sounds like duplicate of https://github.com/asyncapi/parser-js/issues/157

[2021-05-20 14:53] jonaslagoni commented on #303
@derberg it is 😄 Closing

[2021-05-20 14:53] #303 closed

[2021-05-21 22:31] arjungarg07 commented on #164
@derberg Can I pick up this one?

[2021-05-25 14:26] jonaslagoni commented on #291
Closing as it should be solved in https://github.com/asyncapi/parser-js/pull/295

[2021-05-25 14:26] #291 closed

[2021-05-27 18:21] jonaslagoni opened #308 "Confused input argument for parser"
We currently define the input document as type [string](https://github.com/asyncapi/parser-js/blob/974be738947a1752142d77db5c737571163b7ad3/lib/parser.js#L34).

However, both string and object are supported because the input parses through the underlying [toJs](https://github.com/asyncapi/parser-js/blob/974be738947a1752142d77db5c737571163b7ad3/lib/utils.js#L108) function.

What should be considere

[2021-05-28 06:25] derberg commented on #308
looking at logic in `toJs` and especially [this](https://github.com/asyncapi/parser-js/blob/master/lib/utils.js#L115-L120) part, it should be both

[2021-05-28 10:52] jonaslagoni commented on #308
Yea I agree

[2021-05-31 15:46] vishesh13byte commented on #308
From what I understood, the parser works fine for both string and object type inputs but we only define input as string as mentioned above so what we have to do 😅? Do we just have to define that input can be either a string or an object like : `@param {(String | Object)} asyncapiYAMLorJSON` because it already supports object type too 🤔. Please guide me.

[2021-05-31 15:54] jonaslagoni commented on #308
@vishesh13byte yes exactly, and add a test for the parser which takes an object input the same way that we have simple string inputs such as here - https://github.com/asyncapi/parser-js/blob/bc7980fb4596ee344834dd35b7ac958326514053/test/parse_test.js#L13

Let us know if you have more questions 🙂

[2021-06-01 20:45] vishesh13byte commented on #308
I created another file  ''./good/asyncapi_object_type.yaml"  in the _good_ folder which consists of sample asyncapi document but now I am stuck as do I just need to write a simple test just as :
` it('should parse YAML', async function() {
    const result = await parser.parse(inputYAMLObjectType, { path: __filename });
    expect(JSON.stringify(result.json())).to.equal(outputJSON);
  });`
where `

[2021-06-02 07:18] derberg commented on #308
I don't think you need to create another test file, just add a test case `should parse AsyncAPI document passed as JS object` and use existing test file. Make sure [this](https://github.com/asyncapi/parser-js/blob/974be738947a1752142d77db5c737571163b7ad3/lib/utils.js#L108-L113) condition is satisfied in your test. So the initial format of the input should be specified as `js` and not `yaml` for ex

[2021-06-02 13:26] vishesh13byte commented on #308
@derberg @jonaslagoni can you please have a look at pull request #312 ,please point it if I did something wrong.

Thank you.

[2021-06-02 13:36] magicmatatjahu commented on #308
@vishesh13byte Hi! I added one comment, thanks for Pr! :)

[2021-06-04 09:22] #308 closed

[2021-06-07 08:23] magicmatatjahu commented on #267
We split the models domain so that webpack can treeshakable module, but an issue is still opened for the second variant - using the package for other parsers.

[2021-06-08 09:31] magicmatatjahu opened #315 "Parse and validate bindings"
#### Reason/Context

Part of https://github.com/asyncapi/spec/issues/507

Already we have defined JSON Schemas for official supported bindings in `bindings` repo by [this](https://github.com/asyncapi/bindings/pull/60) PR. We should think how to handle validation of bindings in the parser side.

Some my insights and founded problems:
- we shouldn't write models/mixins (generally functions for retri

[2021-06-08 10:21] GeraldLoeffler commented on #315
A typical definition of `bindingVersion` in a bindings specification (say, for AMQP in https://github.com/asyncapi/bindings/tree/master/amqp#channel-binding-object) is: `The version of this binding. If omitted, "latest" MUST be assumed.`

So the parser must be able to
* retrieve the JSON schema for a given `bindingVersion` of a given binding (say AMQP)
* or, if no `bindingVersion` is given in the

[2021-06-14 10:41] derberg commented on #315
Bindings are part of the spec, so should be part of `https://www.npmjs.com/package/@asyncapi/specs`. I don't think there is much to do in the parser itself. We just need a proper workflow on `bindings` repo that whenever we have changes in JSON Schemas, we push an update to https://github.com/asyncapi/asyncapi-node. "Push an update" I mean push updated JSON Schema to `asyncapi-node`, and original

[2021-06-14 11:47] magicmatatjahu commented on #315
@derberg But if you bind `latest` version of binding inside the spec JSON Schema, how do you handle the other versions of bindings in validation?

[2021-06-14 12:18] derberg commented on #315
we need to support all the versions, but still, better to do it in [JSON Schema](https://github.com/asyncapi/asyncapi-node/blob/master/schemas/2.0.0.json#L754) rather than the parser. Might be that to make things easier, we end up moving JSON Schemas of bindings to `asyncapi-node`, I'm not sure about that, did not dig the topic

[2021-06-16 16:01] #232 closed

[2021-06-23 07:52] lbroudoux opened #321 "Add format object type for MessageExample"
#### Reason/Context

As of (near future) `2.1.0` version of specification, message examples may contain clearly described properties like `payload`, `headers`, `name` and `summary`. Introducing new `MessageExample` into previous version of parser was a breaking change as early versions of library just deal with `any[]` for message examples. However I do think it's still a best practice and an adop

[2021-06-24 13:45] KhudaDad414 opened #325 "parameter object from components does not have 'x-parser-schema-id' field in schema"
#### Describe the bug
I was playing around with the AsyncAPIDocument object.
parameter object from a channel:
[code]
parameter object from components:
`{ schema: { type: 'string' } }`

I have two questions:
1) Why parameter object from a channel has `a x-parser-schema-id` It is not a schema.
2) Why parameter object from components does not have an `x-parser-schema-id` field?

#### How to Reproduce

[2021-06-24 15:12] #325 closed

[2021-06-25 07:58] magicmatatjahu opened #329 "Parser should return all errors"
Maybe the title is not clear, but I will try to explain it in the description.

At the moment parser returns only particular errors related to stage of parsing. What does it mean? If we have broken specification in point of view JSON Schema, then parser returns errors only from `ajv`. If user will fix them, then can have another errors related to our custom validators like validation of channel pa

[2021-06-28 08:09] derberg commented on #294
@magicmatatjahu can you provide some examples?

[2021-06-28 09:36] magicmatatjahu commented on #294
Similar like in https://github.com/asyncapi/parser-js/issues/293 issue:

[code]

and then we have circular references:

[code]

[2021-06-30 11:15] KhudaDad414 opened #334 "feat: supporting 'x-parser-refed-from' extension."
### Reason/Context
#### Why we need this improvement?
   We need an extension to specify the components' origin if parsed by `@apidevtools/json-schema-ref-parser` from a `$ref` link.
#### How will this change help?
  If we want to optimize the `AsyncAPIDocument` that is parsed by the parser, we need a way to identify duplicate components in `AsyncAPIDocument`. currently, there is no way to disting

[2021-06-30 11:42] magicmatatjahu commented on #334
the issue is that "x-parser-schema-id" and "x-parser-message-name" will always assigned an anonymous id. like "<anonymous-schema-2>"

Because by single `$ref` under the hood the `@apidevtools/json-schema-ref-parser` moves the reference from one JS object to another, so it's not a copy of object, but original. Due to this fact, some referenced schemas/messages ahve normal `x-parser-schema-id` etc n

[2021-06-30 13:05] derberg commented on #334
First of all 👏🏼 for great quality of this issue, well described with awesome examples, super clear for anyone!

Did you try the option provided by `dereference` function, that you can pass in a callback that gets access to dereferenced schema object? [link to docs](https://apitools.dev/json-schema-ref-parser/docs/ref-parser.html#dereferenceschema-options-callback)

[2021-06-30 14:27] KhudaDad414 commented on #334
...and that is how I wasted three days of my life. I mean all I need to know if an object is a $ref of another is to compare them using === sign.

[2021-06-30 14:30] #334 closed

[2021-06-30 14:35] magicmatatjahu commented on #334
@KhudaDad414

Together with Łukasz we have a saying: "What you have learned is yours" 😄

Yes, exactly, if two objects has this same reference, you have 99.99% percent of sure that you operate on some ref from `components/**`

This 0.01% is a case when you have object like

[code]

so then `@apidevtools/json-schema-ref-parser` will merge the objects and create from them new reference.

[2021-06-30 14:35] magicmatatjahu commented on #334
@KhudaDad414

Together with Łukasz we have a saying: "What you have learned is yours" 😄

Yes, exactly, if two objects has this same reference, you have 99.99% percent of sure that you operate on some ref from `components/**`

This 0.01% is a case when you have object like

[code]

so then `@apidevtools/json-schema-ref-parser` will merge the objects and create from them new reference.

[2021-06-30 14:38] KhudaDad414 commented on #334
@magicmatatjahu thanks for the explanation. I really appreciate it. :)

[2021-06-30 14:41] magicmatatjahu commented on #334
@KhudaDad414 No problem. Protip for future: If you will stuck on another problem longer than 1 day, easier will be ask on our slack, because someone could know solution for your problem :)

[2021-06-30 14:46] magicmatatjahu commented on #334
Mea culpa... I see it now 🤦🏼  but ultimately, you @KhudaDad414 know the solution 😄

[2021-06-30 14:52] KhudaDad414 commented on #334
@derberg is right. I should have gone through the documentation, but still, two days of debugging is better than 2 minutes of reading the documentation.😆

[2021-06-30 14:59] derberg commented on #334
@KhudaDad414 actually I quite often do the same as I don't trust developers docs and their up-to-date-ness 😆

[2021-07-09 10:29] manoswerts opened #452 "Referencing AsyncAPI specs to reuse messages and schemas generates Java classes with incorrect names"
#### Describe the bug
When generating Java code from an AsyncAPI spec which references another one for reuse, schemas from the referenced AsyncAPI spec are named `AnonymousSchema<#>.java` instead of using the schema name.

Java classes are generated correctly for schema's in the main AsyncAPI spec.

#### How to Reproduce
Ensure that you have 2 AsyncAPI specs of which one references the other to re

[2021-07-19 17:31] fmvilas opened #338 "operationId is missing"
#### Describe the bug
The operation object is missing the `operationId` method to retrieve the `operationId` attribute of AsyncAPI.

#### Expected behavior
I should be able to do stuff like `asyncapi.channel('mychannel').publish().operationId()`.

[2021-07-19 17:34] hionnode commented on #338
Can I take this up ?

[2021-07-19 19:31] magicmatatjahu commented on #338
`operationID` you can retrieve by `id()` function https://github.com/asyncapi/parser-js/blob/master/lib/models/operation-traitable.js#L27

[2021-07-20 02:27] fmvilas commented on #338
LOL! What's even worst is that I wrote this code 🤦‍♂️

@hionnode thanks a lot for jumping into the issue. I'm gonna close this one as it's not really an issue but if you want to contribute to AsyncAPI I can help you find other issues. Let me know!

[2021-07-20 02:27] #338 closed

[2021-07-29 09:01] jonaslagoni opened #339 "Parser should support recommended schema formats"
#### Describe the bug
Currently, the spec [recommends certain formats to be supported](https://www.asyncapi.com/docs/specifications/v2.1.0#messageObjectSchemaFormatTable), so how come we don't support them?

It is especially weird considering we already have all the parsers, for them, as they are used in the generator: https://github.com/asyncapi/generator/blob/0df562081e79c51322125ead68d46a7d8d00

[2021-07-29 09:30] magicmatatjahu commented on #339
I don't think so that it should be supported in parser by default, because I see two problems:
- parser you can also use in browser, so the smaller the package the better. Avro and OpenAPI formats add about 100kb (minified) to the bundle, RAML about 3 mb, so as you can see then parser will weight about 4MB :) We had such an issue in the react-component due to this format -> https://github.com/asyn

[2021-07-29 11:00] derberg commented on #339
I also do think parser should only by default support default AsyncAPI schema format as it is now. Parser is a critical package that must be as lightweight as possible. We should just properly handle errors when parser is used against different formats (what we discussed in https://github.com/asyncapi/parser-js/pull/310)

For example raml data types parser in not even supporting browser. As @magic

[2021-07-29 11:47] jonaslagoni commented on #339
Good point on the small-as-possible problem, did not dawn on me that is the use-case as well here. While it is a good perspective to have, I want to fire a few shots at it 😛

By not including these packages by default we have some discrepancies between tooling, which affects the end user's experience with them. Especially tooling providers NEED to know about and maintain on their own extra schema

[2021-07-29 12:08] derberg commented on #339
What do you mean? Then can maintain their own custom parsers only if the need them.

Shouldn't we just describe it properly in the readme really? The person that integrates should exactly know what and how to do that and I think we are missing this information in the readme

[2021-07-29 13:10] jonaslagoni commented on #339
Many end-users use other payload formats because that is what the spec allows, but on the tooling side, we suddenly require tooling vendors to manually enable this feature, and even know about it? That just sounds wrong to me 😅

A point I cannot wrap my head around is why would a maintainer by default NOT want their tool to be able to parse AsyncAPI files with different schema formats?

Even if we

[2021-07-29 13:24] magicmatatjahu commented on #339
But then react-component will weigh >4MB and nobody will want to use it 😅

[2021-07-29 13:26] derberg commented on #339
what do you mean by tooling vendors? tooling vendors most of time create their own tools :) but if they use AsyncAPI Parser they should use it according to documentation. I really don't see a problem here. By default parser supports formats that are MUST, and others are RECOMMENDED -> https://github.com/asyncapi/spec/blob/master/spec/asyncapi.md#schema-formats-table

You do not only have tooling v

[2021-07-29 13:27] derberg commented on #339
@magicmatatjahu no because raml schema parser is anyway not browser compatible, so you won't enable it anyway

[2021-07-29 13:30] derberg commented on #339
Of course if we really need we can always publish 2 packages, lightweight or all-inn. But would it solve your modelina issue? would you remember to read the readme and check the proper package name? (cannot find an emoji that shows doubt-full face 😄 )

[2021-07-29 13:49] magicmatatjahu commented on #339
We can also create two instances of `Parser` with and without custom parsers, but then we should also rewrite the package from CJS to the ESM to enable full treeshakable -> ref https://github.com/asyncapi/parser-js/pull/285

[2021-08-09 09:45] magicmatatjahu commented on #267
We can also rewrite package to the ESM to be full treeshakable.

[2021-08-19 14:27] jonaslagoni opened #344 "Parser does not work out of the box in non-node environments (websites)"
#### Describe the bug
If the parser is utilized in a website the `path` parameters is a requirement to set, in order to make the library work.

#### How to Reproduce
Given the AsyncAPI document:
[code]

and the following code:
[code]
which forces the `path` parameter:
[code]

This is because the following code: https://github.com/asyncapi/parser-js/blob/aba3ed25a58e1eb36b77d5e7dd724202ca737f64/lib

[2021-08-23 10:14] magicmatatjahu commented on #266
Still valid. It's also connected to the https://github.com/asyncapi/parser-js/issues/293 and https://github.com/asyncapi/parser-js/issues/294 issues.

[2021-08-23 11:09] derberg commented on #344
you mean the generated bundle doesn't work or?

[2021-08-23 11:17] jonaslagoni commented on #344
@derberg when the parser is a secondary dependency, i.e. when I import Modelina [in the website](https://github.com/asyncapi/website/blob/3b18f671784670cb9740e3d262ed4c0c57139d58/components/modelina/CSharpGenerator.js#L1), it is using the default package. This simply cannot be used as-is since the dereference logic throws an error, because the path `//` is not a valid one.

[2021-08-23 11:47] magicmatatjahu commented on #344
@jonaslagoni Did you try import the bundle from `@asyncapi/dist/bundle.js` path?

[2021-08-23 11:48] derberg commented on #344
@jonaslagoni don't tell me you did not [read the docs](https://github.com/asyncapi/parser-js#using-in-the-browser) and spent time on reporting an issue 😛

[2021-08-23 12:30] jonaslagoni commented on #344
So you want me to import `@asyncapi/parser/dist/bundle.js` here? https://github.com/asyncapi/modelina/blob/8d080319ce9b9ba41d9a5dbaa182306626f498b0/src/processors/AsyncAPIInputProcessor.ts#L1

That does not make sense to me?

[2021-08-23 12:49] magicmatatjahu commented on #344
Ok I see... I was face with similar problem one time when I tried run the react-component in the NextJS app and fix the issue - https://github.com/asyncapi/asyncapi-react/issues/197 and as I remember the NextJS under the hood has custom webpack which will transform the code to the optimized bundle, but problem is how it it handles the node-related packages like `path` or `Buffer` class. Webpack 4

[2021-08-23 13:13] jonaslagoni commented on #344
@magicmatatjahu I think that makes sense, but in many cases, I dont think that the node-related dependencies matter, as for example in the website when I used Modelina, all it complained about was that it could not dereference `//`, which is fixed with the option `{ path: './'}`. After that everything worked fine, of course, local references won't work at all, but yea, it can't in that environment

[2021-08-23 13:32] magicmatatjahu commented on #344
Exactly, in some environments it can be handy to have node-free Parser. However, I am glad that workaround works, but tbh... 😅  We don't use such an input (I mean option to the `parse` function) and nobody complain it as problem 🤔

[2021-08-23 13:37] jonaslagoni commented on #344
@magicmatatjahu it is because of this (when I don't use the bundled package version):

I doubt many use it in this combination between node and website versions, as many probably switch to the package version  `@asyncapi/parser/dist/bundle.js` and all is good, I suppose 🤷

[2021-08-23 13:41] magicmatatjahu commented on #344
I am curious because we also use the normal package in the react-component - https://github.com/asyncapi/asyncapi-react/blob/next/library/src/helpers/parser.ts#L1 and everything works.

[2021-08-23 14:10] jonaslagoni commented on #344
🧐 That is weird yea...

Gonna remove `good-first-issue` for now until we have a clear direction we want to take.

[2021-08-24 09:04] jonaslagoni opened #345 "Expose parser options in separate type"
#### Reason/Context
The parser options is current an inline definition https://github.com/asyncapi/parser-js/blob/aba3ed25a58e1eb36b77d5e7dd724202ca737f64/lib/parser.js#L33

This however also means that the types are generated inline, making reusability impossible https://github.com/asyncapi/parser-js/blob/aba3ed25a58e1eb36b77d5e7dd724202ca737f64/types.d.ts#L1077

#### Description
We need to chang

[2021-08-25 09:31] iamdevelopergirl commented on #345
Can I work on this issue?
This is my first time trying to contribute.

[2021-08-25 10:04] jonaslagoni commented on #345
@iamdevelopergirl of course, feel free to ping us if you have any question 🙂

[2021-08-25 16:18] iamdevelopergirl commented on #345
Created a [PR](https://github.com/asyncapi/parser-js/pull/346) for this.
Can you help me in changing the commit message to have a correct prefix?

[2021-09-02 11:51] jonaslagoni opened #350 "Parser options should be optional in TypeScript"
#### Describe the bug
Currently, the parser argument is required, even though it is optional.

https://github.com/asyncapi/parser-js/blob/251f46d6cc988e88d863b31320f6e1d31b6196ee/lib/parser.js#L43 should be defined as optional.

[2021-09-02 12:08] #350 closed

[2021-09-06 12:39] KhudaDad414 opened #354 "Setting `applyTraits` on Typescript projects"
#### Describe the bug
I should be able to set `applyTraits` option in parser method without providing other options in Typescript projects. But since all the parameters are mandatory in `ParserOptions` type, the compiler will complain about specifying all of them.

#### How to Reproduce
Call the `parser` function with `{applyTraits: false}` option in a Typescript project.
you will get the followin

[2021-09-06 12:43] jonaslagoni commented on #354
Yes, this is a bug, all options should be optional 😅

[2021-09-06 12:47] KhudaDad414 commented on #354
so I am opening a PR for this.

[2021-09-06 14:23] #354 closed

[2021-09-07 12:48] KhudaDad414 commented on #226
@magicmatatjahu if someone wants to access traits with `{applyTraits: false}` then there won't be any `x-parser-original-traits` there.

[2021-09-07 12:54] magicmatatjahu commented on #226
@KhudaDad414 Exactly, won't be, but will be the native `traits` object :) The `traits` object is only deleted with `{applyTraits: true}` ([code](https://github.com/asyncapi/parser-js/blob/master/lib/parser.js#L239)), so you should check first the `x-parser-original-traits` extension and then as a fallback check the `traits` field :) You can create PR, if you asked for it :)

[2021-09-08 08:46] #226 closed

[2021-09-09 12:18] KhudaDad414 opened #360 "parser doesn't validates the `$ref` links"
#### Bug Description
If there is a typo in `$ref` value the parser should throw an error instead of passing the actual `$ref`.

#### How to Reproduce
[code]
#### Actual Result
[code]
#### Expected Result
It should give an error message saying that my `$ref` path is broken or does not exist.

[2021-09-09 13:34] jonaslagoni commented on #360
Since we don't want errors to be thrown but rather bundled together, to throw one big error in the end (I would assume so? git blame @derberg @fmvilas), this option is set to true: https://github.com/asyncapi/parser-js/blob/235efd5cb33df00c206bea3e9b09be9cd9587d87/lib/parser.js#L153

However, we never check that the dereference succedded, not sure if the dereference call actually returns any conte

[2021-09-13 14:04] derberg commented on #229
@arjungarg07 do you continue with this?

[2021-09-14 07:04] fmvilas commented on #360
Yeah, the idea is that it continues to throw one big error at the end. I'm now wondering if `continueOnError` actually does that 🤔

[2021-09-14 07:50] derberg commented on #360
it does, it gives an array of all errors

it is just an option in refs parser library that we leverage. As you know, when I added custom validations, I did not follow this principle, as far as I remember, my bad. The same option to group errors is also used in Ajv.

hard to say why there is no error, would require some debugging

[2021-09-14 15:01] arjungarg07 commented on #229
I don't think so, coz now I would have to reiterate through the issue again. Would love it if anyone else could take this up :)

[2021-09-20 11:50] derberg commented on #229
@arjungarg07 I don't think anyone here will have time to look at it in next weeks anytime soon so I suggest you continue in October and you will have already one PR for the Hacktoberfest 😄

[2021-09-20 11:52] derberg commented on #164
@arjungarg07 looks like another good candidate for October, you have work started, some comments recently from the community in the PR. Might be good to open fresh Hacktoberfest PR 😄

[2021-09-27 12:47] DavidBiesack opened #372 "Parse message `oneOf` as a single JSON Schema"
#### Reason/Context

At present, the `asyncapi-generator` code necessary to handle `oneOf` in messages is cumbersome. See https://github.com/asyncapi/nodejs-template/issues/62 for example. The generator must check if the message schema is `oneOf` or not with

[code]

code blocks. Additionally the generator must generate code to validate the payload against each of the individual schemas.
Thus, eac

[2021-09-28 06:32] derberg commented on #339
@jonaslagoni how is it, did you change your view, or how does it look like? or will you just push update on readme?

[2021-09-28 07:48] derberg commented on #372
I have to admit it is a nifty proposal, and I like it, I always struggled with `oneOf` on `message` level.

would it be a problem if `channel.publish().message.name()` work both with single or `oneOf`? just a thought 🤔

[2021-09-28 10:14] KhudaDad414 opened #373 "Parser should not mutate the input object."
#### Describe the bug
When I pass an object to ParserJS it operates on the input and as a result, it will change in input like adding extensions.

#### How to Reproduce
parse an AsyncAPI object using ParserJS. then look at the input document, you will see that the parser has changed things in your input.

#### Expected behaviour
It should treat the input object as immutable or in other words, oper

[2021-09-28 10:41] jonaslagoni commented on #339
🤷 it is just two different use-cases that contradict each other. Maybe the right approach is just to update the readme. I am trying not to take more tasks on, so if anyone wants to pick it up 👍

[2021-09-28 12:25] DavidBiesack commented on #372
Ideally, for the long term evolution of AsyncAPI, I could get the combined schema via `channel.publish().message.name()` ; I'm just concerned about the impact - would that be a breaking change in the parser? I don't know the parser code well enough to decode it; there are not enough comments for me to understand the intent/use of `message.name()` / `_json.name` and `AsyncApiValidator.fromSource.va

[2021-09-28 17:39] derberg commented on #339
For others that would like to pick this issue. It is about specifying in the readme that Parser by default supports on AsyncAPI Schema Format and JSON Schema Format, and for others folks need to plugin additional plugins. I'm happy to jump on a call or something and explain more, but some details are already above

[2021-09-28 17:58] Raksh7777 commented on #339
Can I take this up?

[2021-09-28 18:09] Weffe commented on #99
+1 To validating examples. It would be a nice to have and a quick way to get feedback on the schema and the example for it.

[2021-09-29 05:59] derberg commented on #339
@Raksh7777 definitely, lemme know if you need something

[2021-09-29 06:53] derberg commented on #99
@Weffe would it be something you could help with contributing, I can guide you

[2021-09-30 13:40] derberg opened #378 "Remove unnecessary semicolon."
https://sonarcloud.io/project/issues?id=asyncapi_parser-js&issues=AXerX_hNhZtDGtobF1Sh&open=AXerX_hNhZtDGtobF1Sh

[2021-09-30 14:16] derberg commented on #378
Sure, go ahead

[2021-09-30 14:18] sudhay23 commented on #378
Thank you :). Should I work only after being assigned the issue?

[2021-10-01 19:56] BOLT04 commented on #143
Hi everyone 👋, is anyone working on this issue? if no one is working on it I'd like to contribute and give it a try 🙂.

@derberg I'm new to this codebase so could you tell me some details on where this issue touches? I did some digging and found the `lib/customValidators.js` file, so I'm guessing to pass the requirement "we need to add a custom validation of tags wherever tags are possible" we'd n

[2021-10-02 07:55] magicmatatjahu commented on #143
@BOLT04 Hi! Yes, you're thinking right about place where new code for validation should be :)

Refers to the plain JSON Schema (https://json-schema.org/), not to our Schema (in the meaning of AsyncAPI), so of course you can use `parsedJSON`, because it is exactly AsyncAPI document saved as JSON :)

Yes, tests will be needed, if you want you can use the test cases from tsk. We have issue to use all

[2021-10-03 16:47] BOLT04 commented on #143
@magicmatatjahu would it be better to add a `validateTags` function with all those places `tags` can occur, like this:
[code]

or modify the existing validate functions and create new ones if they don't exist (e.g. I didn't find validation for OperationTrait)?

[2021-10-03 18:43] magicmatatjahu commented on #143
@BOLT04 `validateTags` is better idea than update existing :)

[2021-10-04 06:48] #378 closed

[2021-10-05 09:00] derberg commented on #201
I'm wondering what is the point of keeping it open 😄

[2021-10-05 09:51] magicmatatjahu commented on #201
@derberg

for that :) Probably when we will release `3.0.0` version of AsyncAPI ParserJS will have breaking changes and we can think about handling such a problem.

[2021-10-11 09:11] boyney123 opened #387 "docs website for the api of the parser"
#### Reason/Context

At the moment the API is sat in the Readme file https://github.com/asyncapi/parser-js/blob/master/API.md, which is fine and seems to work, but I wonder if we could bring our API alive?

Maybe it's just me, but when I interact with 3rd party libs, I find it very useful to have the website render the APIs with examples too for each function.

Here are some open-source examples o

[2021-10-12 13:27] #339 closed

[2021-10-13 13:22] boyney123 commented on #387
Very cool @derberg , thanks for sharing will look at the workflows

[2021-10-14 13:06] boyney123 commented on #387
Yeah I think the left nav idea should good and lists the functions etc from the README file, I have no idea how we can add examples to the functions.

As a dev I would love to see the function and maybe exampels with each API.... maybe this can be done in the API.md file no idea....

Seems like we have some standard urls atm:

- https://www.asyncapi.com/tools/parsers
- https://www.asyncapi.com/too

[2021-10-15 14:24] magicmatatjahu commented on #293
I think I managed to figure out how to solve the problem with circular references throughout our document, and surprisingly it is not that difficult, but it requires a fix in the `Base` model class.

Before I go into the proposal, I'll give an example of a scheme (very complex) and describe what is circular.

[code]

What I see, which is circular - gives the json pointer notation, the key is the v

[2021-10-17 01:34] tehmantra commented on #293
Hi there, seems this has been partially resolved in the react/ui repo, hope this is the right place to raise the issue :)
* https://github.com/asyncapi/asyncapi-react/issues/351

It seems that this is not yet supported when the recursive reference is a `oneOf` item.

Broken:

[code]

Working:

[code]

[2021-10-20 03:47] alequetzalli commented on #387
Yes! According to our content buckets from the [Diátaxis Framework](https://diataxis.fr/) that we're using to re-structure our IA of the Docs, all of these API docs go under **Reference**. These API docs and others should be moved under our Docs site, and we need to select an API tool to generate nice API docs. I don't know why we can't just use swagger or something similar, then tailor the CSS to

[2021-10-31 11:26] fmvilas opened #394 "channel.servers() should return a list of all the servers by default"
#### Describe the bug
By default, `channel.servers()` returns an empty array. When a `servers` property is not present in a channel definition, the meaning is that this channel is present in all servers described in the `servers` section of the document.

#### Expected behavior
[This line](https://github.com/asyncapi/parser-js/blob/master/lib/models/channel.js#L56) should return an array with all

[2021-10-31 11:40] jonaslagoni commented on #394
Well, there are two views on this.

As it currently stand with the parser, all it does (and nothing else) is give you the exact information that is available for that property. This is why it only gives you the information about whether someone defined a server reference in the channel or not. This is also why contentType does not return defaultContentType from the root object - https://github.com

[2021-10-31 11:55] fmvilas commented on #394
I don't think it's the same. `channel.servers()` doesn't give you exactly what is on the AsyncAPI document. If you don't specify any `servers` property` at channel level, it gives you an empty array instead of `undefined`. So there you are already interpreting the intent. I just think the interpretation is incorrect.

On the other hand, `contentType()` returns **exactly** what's found in the Async

[2021-10-31 13:08] derberg commented on #394
Logically your point makes a lot of sense. You want parser to give you servers that channel is available at.

But, are there other parts of the parser that work this way. Thing is that the way you work with the parser atm, I would be confused to see all the servers in returned array. I would first check if channel hasServers and in case of false read all servers from servers root.

[2021-10-31 15:13] fmvilas commented on #394
Cool, time for a rewrite of the parser it seems 😄 Good to take this into account for the intent-driven one.

[2021-11-01 15:11] smoya commented on #394
I was about to say this. From an intent point of view, I think it as "Just give me the servers where the channel is present".
Btw, I just noticed we did not update the intent-driven [parser-api](https://github.com/asyncapi/parser-api/blob/master/docs/v1.md#operation) with latest changes on the spec. Servers are returned through Operations but not through Channels. Worth to add it I think.

[2021-11-03 16:32] smoya opened #401 "Implement Parser-API (Intent-Driven)"
## Reason/Context
Some months ago we created https://github.com/asyncapi/parser-api, an API definition all AsyncAPI parsers should eventually implement.

An introduction can be found as well in this blog post: https://www.asyncapi.com/blog/intent-driven-api

Ideally, we should implement it for the next major **AsyncAPI Spec v3.0.0**.

@jonaslagoni and I scheduled a Contributor-first meeting on the

[2021-11-10 13:21] jonaslagoni opened #403 "JSON Schema references do not follow $id dereference behavior"
#### Describe the bug
We use the  [@apidevtools/json-schema-ref-parser](https://github.com/asyncapi/parser-js/blob/f17424a0639a61fb19d2004d96ca652b9ec09f5d/package.json#L68) dependency to resolve all references, however, this tool does not follow JSON Schema specification in terms of dereferencing: https://github.com/APIDevTools/json-schema-ref-parser/issues/22#issuecomment-231783185

Based on [JS

[2021-11-10 13:32] jonaslagoni opened #404 "Dereference behavior does not follow AsyncAPI reference object and JSON Schema draft 7 behavior"
#### Describe the bug
We use the  [@apidevtools/json-schema-ref-parser](https://github.com/asyncapi/parser-js/blob/f17424a0639a61fb19d2004d96ca652b9ec09f5d/package.json#L68) dependency to resolve all references, however, this has a faulty implementation.

[AsyncAPI 2.2.0 defines a reference](https://www.asyncapi.com/docs/specifications/v2.2.0#referenceObject) as:

[JSON Schema draft 7 defines the

[2021-11-10 13:36] jonaslagoni commented on #403
Related issue: https://github.com/APIDevTools/json-schema-ref-parser/issues/136

[2021-11-10 14:55] jonaslagoni opened #405 "References are bundled before validated"
#### Describe the bug
Currently, the parser bundles any references together with the provided AsyncAPI document before it's validated against the [JSON Schema document for AsyncAPI](https://github.com/asyncapi/spec-json-schemas/blob/master/schemas/2.2.0.json).

This results in invalid AsyncAPI documents being valid.

#### How to Reproduce
Given the following AsyncAPI document:
[code]
Together with

[2021-11-10 14:56] jonaslagoni commented on #405
Not quite sure about this, but solving this **might** also solve #404, as additional properties would not be allowed in most cases.

[2021-11-14 19:11] Tenischev commented on #293
Hi. I faced an issue during testing fix for https://github.com/asyncapi/java-spring-template/issues/150
if I provide such schema for parser:
[code]
It returns three messages instead of one, these two extra messages will be `anonymous` and just copy of normal one - `lightMeasured`:
[code]

[2021-11-15 16:24] #143 closed

[2021-11-18 11:01] smoya commented on #404
For the record, there is a recent effort on building JSON Schema foundational tooling with kind of (TBD) official support, lead by @jviotti and @Relequestual here json-schema-org/community#113.

[2021-11-18 11:01] smoya commented on #403
For the record, there is a recent effort on building JSON Schema foundational tooling with kind of (TBD) official support, lead by @jviotti and @Relequestual here json-schema-org/community#113.

[2021-11-23 14:31] #229 closed

[2021-11-23 14:31] #293 closed

[2021-11-29 10:29] smoya opened #414 "Add support for messageId"
#### Reason/Context
This is a follow-up issue coming from https://github.com/asyncapi/spec/issues/458.

#### Description
As per the RFC, we need to add support for `messageId` at message level. This issue helps tracking progress on it.
Note that it should not break any behavior in place, and the parser should be smart enough for detecting if you are using the new `messageId` field or rather relyin

[2021-12-01 12:21] #266 closed

[2021-12-07 16:17] jonaslagoni commented on #372
As mentioned in the SIG meeting, I see no reason why we cannot have something like a `message.schema()` (no idea what to call the function), that returns the combined payload schema with `oneOf`.

[2021-12-09 07:31] derberg commented on #372
oh yeah, I don't like when naming gets more difficult than the actual implementation 😅

we have `messages()` that return all messages in an array, why not have maybe `messagesSchema()` with good jsDoc explaining it always returns all messages payload schema combined in one `oneOf` schema? 🤔

[2021-12-09 14:25] derberg opened #421 "Maybe make `stringify` function available on the instance of AsyncAPIDocument class"
The `stringify` function is at the moment static and available only directly on AsyncAPIDocument. We have the same with `parse` function from the same class.

from DX point of view, as a dev using the parser, it is confusing that:
- `stringify` can't be just used like other methods, `asyncapi.stringify()`
- `parse` is not actually a function outside the class, standalone like `parseFromUrl`

In te

[2021-12-13 10:16] derberg commented on #267
@magicmatatjahu is it still valid?

[2021-12-13 10:18] derberg commented on #230
Hey, folks, is this one still valid? or do we agree better invest in TCK?

[2021-12-13 10:23] derberg commented on #207
The maintainers do not at the moment have time to implement it. But we so far agree the use case is valid and we need it. so whoever want's to work on it, just ping us here and we will be happy to guide you

[2021-12-13 10:24] derberg commented on #176
@jonaslagoni where are we with this one ?

[2021-12-13 10:53] KhudaDad414 commented on #230
@derberg I think we should go with TCK. If I'm remembering correctly I opened an issue on this, will come back and try to remember what needs to be done 😄

[2021-12-14 08:31] jonaslagoni commented on #176
Have not taken the time to solve it (again)... Gonna keep a focus on it in https://github.com/asyncapi/parser-api/issues/34 as this change is breaking.

[2021-12-15 13:20] smoya opened #427 "[New Doc 📑]: specify which version of npm is required to run `npm install`."
### What Dev Docs changes are you proposing?

Current `package-lock.json` file sets `lockfileVersion` to `2`. This version is only available starting from `npm 7`.
In the case you run `npm install` with a version lower than 7, it will change the version of the `package-lock.json` file to `1`.

In order to keep consistency, I think we should definitely specify that this project requires npm version

[2021-12-15 14:24] derberg commented on #427
because there is no direct technical requirement, I don't think we should require from user that only the latest versions are supported, while in fact older work like a charm

[2021-12-15 14:45] smoya commented on #427
Are we sure we don't want to require **developers** to stick to a version when in fact CI uses a particular one?
I'm talking about the combo node and npm. If you don't, thinks like what I mentioned will happen:

Should then `package-lock.json` change depending on the setup of latest person who committed code after running `npm install`?

Regarding `node` version, how do you ensure compatibility? T

[2021-12-15 14:53] derberg commented on #427
yeah, so I just think it's better to improve testing and test on older versions to make it easier for folks that are in some enterprise are stuck with some old version.

according to https://nodejs.org/en/about/releases/ Node 12 is still there in maintenance until April 2022.

but yeah, I'm talking here specifically about node, about npm do not have much of an opinion because I did not have time t

[2021-12-15 15:05] smoya commented on #427
The point here is that I ran this simple `npm install` command and `package-lock.json` got modified without adding or removing any dependency. I think this should not happen at all. We can't really avoid that but at least guide developers and set expectations on their setup so they are aware of this.

[2021-12-15 16:08] derberg commented on #427
yeah, this part I agree, it is confusing, just don't think solution should be about restricting to certain npm/node. It is not only about this repo, also other node projects really.

Interesting what others think

[2021-12-15 20:47] dedoussis opened #428 "Misleading validation errors for Security Scheme Objects"
#### Describe the bug

Not exactly a bug but something that could take some improvement. `components/securitySchemes` objects (at least of type `oauth2`) when invalid, throw misleading validation errors.

#### How to Reproduce

Example YAML:
[code]

throws:
[code]

As you can see from the snippet above, there are multiple misleading `validationErrors` returned, when in practice there is just the s

[2021-12-16 10:35] smoya commented on #427
Pinging the code owners in a first attempt on getting feedback about this issue @fmvilas @magicmatatjahu @jonaslagoni

[2021-12-16 11:58] magicmatatjahu commented on #427
@smoya you have right. Someone changes a single line and suddenly has several thousand changes in `package-lock.json`. We should force using npm >7 or <7 to avoid such situations.

[2021-12-16 12:11] smoya commented on #427
An very recent example of this issue, that shows that not only applies to this repo but to any other that uses npm:

https://github.com/asyncapi/studio/pull/201#issuecomment-995707003

There was no new addition or removal of packages, but still a big diff in `package-lock.json` is there in the PR because of npm version missmatch.

[2021-12-16 16:20] fmvilas commented on #427
I'd not force to a specific version of npm but would recommend it for contributors. If it works with an older version of npm we should not enforce it IMHO. Only contributors would care about `package-lock.json` being changed, right? Users would not see any issues as the changes would happen under `node_modules` which is usually ignored.

[2021-12-16 16:56] smoya commented on #427
Exactly, the issue only affects developers. That's why I mention that it is an issue when running `npm install` on this package, something you won't do if you are not a developer of this package.

Besides clarifying this in the documentation, Isn't this `.nodeenvrc` stuff a common thing ? (I am completely new to this world 😅 )

[2021-12-19 13:06] BOLT04 commented on #119
Hi @magicmatatjahu and @derberg 🙂, this looks like an interesting improvement, but I have some questions.

I think taking inspiration on the [HTTP Problems RFC](https://datatracker.ietf.org/doc/html/rfc7807) is a good idea, but I'm not sure `parser-js` should return errors with all the fields of that spec, mainly the `status` field. This is because it would add a "dependency" on HTTP, and the pars

[2021-12-20 07:52] derberg commented on #119
I have to admit this one is pretty old and I don't remember much 😅

I don't think `status` makes a lot of sense, but I also think the intention here is to follow HTTP Problems RFC to the extend it makes sense.

The flag could be easily added to the `validate` command, but the question is if there is actually anything that could be auto-fixed really. I don't think it is possible. At least there is

[2021-12-20 08:50] derberg commented on #427
I never used `. nodeenvrc`. If you really need to be strict on versions, you do something like https://github.com/asyncapi/generator/blob/master/package.json#L10-L13 and then update readme https://github.com/asyncapi/generator#requirements

I think you brought important topic of `package-lock.json`. I don't think we should `force` but I think we should definitely have it documented and would be ni

[2021-12-20 09:01] derberg commented on #428
Hey. In your example, you are also missing `url` and `protocol` under `demo` server. So some errors are coming from there.

Nevertheless, even if you add them you are still getting 37 errors while I agree you should only get:
[code]

Validation errors come from validating the document against the [JSON Schema](https://github.com/asyncapi/spec-json-schemas/blob/master/schemas/2.2.0.json) using http

[2021-12-20 10:37] magicmatatjahu commented on #119
@derberg @BOLT04

About `--fix` flag, as Łukasz wrote, there is not error to be easily fixed, e.g. in eslint `--fix` is only to fix some problems with indentation, white spaces etc, and in AsyncAPI doc errors are related to the wrong structure so `--fix` won't help, because we can't change the content of the spec if something is wrong.

I had the same thought. I wanna test [Spectral](https://githu

[2021-12-20 10:47] derberg commented on #119
I know that @kevinswiber did some research on Spectral + AsyncAPI (https://github.com/kevinswiber/spectral-function-past-tense) and also plans to write an article about it.

the only problem is that just `@stoplight/spectral-rulesets` is almost 500kb 😅
so integrating it with our parser is not the best idea, but integrating it with CLI and Studio as separate functionalities - sure, would be awesome

[2021-12-20 11:33] jonaslagoni commented on #428
Yea I completely agree it is something we should fix...

My guess is that it throws all the validation errors it finds per [security schema](https://github.com/jonaslagoni/spec-json-schemas/blob/feature/improve_maintainability/definitions/2.2.0/SecurityScheme.json) and bundles all of them together. So even though we are only interested in the errors found in [oauth2Flow](https://github.com/jonasla

[2021-12-20 13:43] magicmatatjahu commented on #119
Our js parser alone weighs something like 700-800 kbs after minification, just to remind you 😏  Running spectral as a separate tool involves validating the whole spec twice, once on the parser-js side and once on the spectral side - with medium sized specs this can be a serious problem due to memory consumption and speed. Also spectral only supports 2.0.0 version of AsyncAPI and that's another pro

[2021-12-20 13:51] derberg commented on #119
something to check for sure

not a problem IMHO. They keep asyncapi format in `@stoplight/spectral-formats` afaik and I bet they will be happy if we could support them with regular updates of the format. I think it is easier than maintaining our own linter.

Anyway, I think we are going away from the initial goal of the issue 😄

[2021-12-22 07:17] derberg commented on #344
thb I still don't really understand what is the issue and why bundle.js is not good enough

[2021-12-29 19:57] BOLT04 commented on #401
Hi @smoya 🙂, I don't have much context about what this is about, but through the links and bullet points, I got a better grasp of the purpose of an intent-driven API. Here are a few key topics I wanted to share.

I think having the `parser-api` is really helpful to ensure compatibility between languages 👍. `parser-js` is the most know currently, but in order to grow and support C#, Go, Python, Jav

[2021-12-29 20:31] smoya commented on #401
That would be awesome!🤞 I have to say that we had the pleasure to have @alequetzalli in the Contributor first meeting.

Yeah, exactly. But we won't swap to the new method immediately but progresively, deprecating the old one and keeping support for the deprecated one for few versions.
Thats a key difference between the current implementation, which is mostly tied to the JSON representation of the

[2021-12-29 23:18] BOLT04 commented on #401
ahh got it, yes it makes sense to progressively update the methods. Thanks for helping 😃
I think this should go forward and start thinking about the v1 of intent-driven API and Parser API, supporting AsyncAPI spec v3 👍

[2022-01-03 10:25] magicmatatjahu commented on #401
I had a question about the send and receive operation, but David outdid me 😅  Speaking of breaking changes, I have a few comments about the implementation itself:
- how long will it take to deprecate methods? If breaking change occurs, are we planning to keep old methods for one major version and then remove them? This approach is e.g. in Angular, if a new version comes out, they define what is de

[2022-01-03 10:32] magicmatatjahu commented on #293
@tehmantra Very sorry, I saw these comments only now. We published new generator/html-template/react-component with supporting of circular refs. Could you check if everything works already in your cases? I would appreciate it :)

[2022-01-03 10:35] magicmatatjahu commented on #293
@Tenischev Hello! Very sorry, I saw these comments only now. Hmm 🤔  I am not sure if it is related to circular references, but I improved the traverse of the schemas in the parser and maybe the latest version of generator/parser solved the problem. Could you please check?

[2022-01-03 10:45] MerzDaniel commented on #99
We are also interested in the context of writing tests or even in the production code itself it makes sense to validate event payload types.

For our rest api which is documented in OpenApi3 we use this library: https://www.npmjs.com/package/api-schema-builder. It provides a easy to use validation mechanism which we use as part of our test infrastructure.

E.g. the schema which is created by this

[2022-01-03 12:27] magicmatatjahu commented on #99
@MerzDaniel Hello! Thanks for comment!

Please note that this issue is related to the validation of the examples not after the validation of the specification but during the validation, this means that the user passing the specification to the parser should receive errors/information regarding badly formatted examples for message's payload and headers. As far as your idea is concerned I recommend

[2022-01-03 12:49] magicmatatjahu commented on #294
That issue is partially resolved by https://github.com/asyncapi/parser-js/pull/391 but we still need info what data in extension/binding is schema. If we know this then the issue itself should be closed.

[2022-01-03 13:13] magicmatatjahu commented on #428
It seems to me that like @jonaslagoni wrote AJV checks all the schemas and throws an error for every `oneOf`, `anyOf` etc if something is wrong. Maybe we should try to merge similar errors into one? Maybe there are some libraries for this?

[2022-01-03 13:17] magicmatatjahu commented on #329
Related issue - https://github.com/asyncapi/parser-js/issues/119

[2022-01-03 18:50] derberg commented on #401
It only affects people that know the spec in details...so not many folks

yes yes yes, consistency across parsers would be awesome, would make many things much easier long term. I'm just not sure if it has to be super perfect now if we should not focus on implementing it first in JS Parser and then update Parser-API based on our learnings.

I have nothing against the idea, I'm just concerned about

[2022-01-03 19:10] fmvilas commented on #401
@derberg I don't think `isApplicationSubscribing()` is specific to the spec and the "subscribe" meaning. I mean, anyone doing EDA would understand what this function does, without knowing AsyncAPI.

Yes. `clientSubscribableMessages` is not an option IMHO. However, I don't have a better alternative, to be honest. I just think if we make it "hard to guess" for someone, it has to be for people using

[2022-01-04 10:56] smoya commented on #401
Yeah, most of frameworks do it in that way. And this is what originally @jonaslagoni and I thought about. No clear strategy if deprecations should stay there for one or two versions as you mentions. Worth to discuss. We already have an issue for discussing about how to keep a compatibility matrix where this can also be in the same topic: https://github.com/asyncapi/parser-api/issues/25. I would lo

[2022-01-04 12:44] smoya commented on #401
I think finding a perfect balance between design (parser-api) and implementation (parser-js) can be achieved so we can design the API while we validate it.

Besides my answer on https://github.com/asyncapi/parser-api/discussions/4#discussioncomment-805963, I want point out that not all the programming languages have native support for enums (`subscribe`, `publish`). It introduces an extra complexi

[2022-01-04 14:55] jonaslagoni commented on #401
I agree, that it would be good to match it with v3, especially since the actions send and receive play better together with the intents.

Bottom line is that naming of intents is hard to do as you point out @derberg, but let's not focus on it now. We have not even decided if we want the intent API. They serve nothing but examples to give an idea about what they might be 🙂

I think if we keep the i

[2022-01-05 15:47] smoya opened #434 "Support `security` field at Operation level"
#### Reason/Context
Part of https://github.com/asyncapi/spec/pull/584.

#### Description
Support `security` field containing an array of SecurityRequirement at Operation level.

As this is a good candidate to be in `v2.3.0` release, the PR should be created from and targeting `2022-01-release` branch.

As far as I see, the change we need to do is to add a new function called `security` into the `o

[2022-01-09 22:39] sekharbans-ebay commented on #434
Ack. Is simply copying the function ok? Would you in addition like ServerSecurityRequirement (server-security-requirement.js) renamed to 'SecurityRequirement' and reused for both server and operation - or a OperationSecurityRequirement equivalent created?

[2022-01-10 09:38] magicmatatjahu commented on #434
@sekharbans-ebay Hi!

as I see `server-security-requirement.js` is empty class, so you can create equivalent the `OperationSecurityRequirement` class. If in the future something additional will appear in the `ServerSecurityRequirement` class, we will create a separate class that will be extended both in `ServerSecurityRequirement` and in `OperationSecurityRequirement` classes, don't worry :)

[2022-01-10 17:27] dschwank opened #437 "Incomplete schema type definition"
#### Describe the bug
The type definition of the [`Schema`](https://github.com/asyncapi/parser-js/blob/master/types.d.ts#L840) class is incomplete, the [constructor](https://github.com/asyncapi/parser-js/blob/master/lib/models/schema.js#L24) is not covered.

#### How to Reproduce
- Check [`schema`](https://github.com/asyncapi/parser-js/blob/master/lib/models/schema.js#L24) implementation
- Check g

[2022-01-10 18:00] #437 closed

[2022-01-11 11:05] derberg commented on #401
TBH my understanding was that we agreed to do Parser API few months ago and that now you just want to push forward the API proposed back then 😅

Not a single codeowner of Parser JS objects intents-driven API. Just go for it and let us argue on specific things on PR level.

I agree with @jonaslagoni that this is the way to go, it works in other repos, and we have release infrastructure ready 👍🏼

mi

[2022-01-14 00:51] sekharbans-ebay commented on #434
Thanks so much Lokesh!
Hi @smoya, @magicmatatjahu, @derberg  - request review  please

[2022-01-15 13:51] BOLT04 opened #448 "Export error type strings for other tools to use in error handling (e.g. invalid-json)"
#### Reason/Context
- This improvement is necessary so that the `parser-js` becomes the sole owner of these error types, and these strings aren't spread across multiple repos. When tools need these strings they can just **import the constants** exported by the parser.
- By having these errors exposed as an array or TypeScript type, other tools can leverage them in their validation and error handli

[2022-01-16 12:14] ritik307 commented on #157
Hi @derberg I would like to work on this issue

[2022-01-17 08:38] derberg commented on #157
@ritik307 go ahead man, make sure to look into previous PR, there was already a lot of work done that you can reuse afaik

[2022-01-17 09:33] ritik307 commented on #157
Sure will look into them 😁

[2022-01-18 14:28] ritik307 commented on #157
@derberg I am facing an error while setting up the project to the point where the last PR was made. I have added everything that was done the last PR. While testing the code after completing the changes I face the following issue:-

![ss1](https://user-images.githubusercontent.com/22374829/149956160-410c6764-4cbd-40c3-9dca-0fb1a4ad872a.png)

I replaced it with the `defaultSchemaFormat` function an

[2022-01-18 14:31] derberg commented on #157
@ritik307 please open up a `Draft` PR as it will be much easier to see all the changes that you did and ineract there on specifics 🙏🏼

[2022-01-31 15:12] nictownsend opened #460 "Precompile AJV templates to allow CSP in browser to function"
https://ajv.js.org/standalone.html

https://ajv.js.org/standalone.html#using-the-defaults-es6-and-cjs-exports

I'll take a look at implementing this via a PR but if I have no luck I may need other developers to help out.

[2022-02-02 09:26] jonaslagoni commented on #404
Potential replacement for the dereferencing library: https://github.com/APIDevTools/json-schema-reader

[2022-02-16 18:34] NektariosFifes commented on #405
@jonaslagoni hey i think i will look this up

[2022-02-18 08:08] felixjung commented on #401
I kind of agree with @derberg that tooling should not try to fix what's wrong with the spec. I know there are other proposals and issues regarding the topic of perspective on publish and subscribe operations. Thinking about this now, I feel the main problem is that the spec takes a perspective of the consumer or producer of messages to begin with.

If you look at OpenAPI, then you see that what yo

[2022-02-18 16:59] felixjung commented on #401
Haha, yeah #618, that's the one I remember reading at some point when I complained I didn't understand what an operation was in a channel with multiple message schemas. 😂 Thanks, will do the reading and posting part.

[2022-02-19 15:02] Tenischev opened #475 "Inconsistent behavior of message/messages/hasMultipleMessages"
#### Describe the bug
Result of message/messages/hasMultipleMessages operations looks inconsistent when deal with following strucuture:
[code]
This bug found during fix issue for `java-spring-template` - https://github.com/asyncapi/java-spring-template/issues/156

#### How to Reproduce
1. Parse schema where message defined like
[code]
2. Call for (assume that this message in `subscribe`, with `pub

[2022-02-21 16:32] magicmatatjahu opened #477 "Integrate stoplight/spectral in parser"
The whole validation/parsing process in our parser consists of 3 steps:

- validation via AJV based on spec JSON Schema
- custom validation(s) which cannot be done with AJV because we have to compare values between different parts of the specification, e.g. security in servers and corresponding values in components/securityRequirements. Here we also perform additional actions like applying traits

[2022-02-23 19:20] kevinswiber commented on #477
I believe everything you aim to do will be possible if the project takes a few Spectral modules as dependencies.  In terms of owning the AsyncAPI ruleset built into Spectral, that's worth mentioning on their Discord server, I think.  However, rulesets are composable.  AsyncAPI could host their own ruleset at a URL endpoint, and folks could use that.  Here's an example of how that looks: https://gi

[2022-02-28 12:44] magicmatatjahu commented on #477
@kevinswiber Thanks for comment! I tested spectral in my POC and as you wrote, spectral should handle all of our use cases. Also rather to host our ruleset as URL (but we should think of that) we should have `@asyncapi/spectral` package with that ruleset and using cdn we can handle that use case with URL :)

[2022-03-02 15:19] smoya commented on #477
I'm so excited about the possibility to use Spectral (I've never used it before, but read about it's potential)!
Simplifying our parse logic, and boosting our possibilities to validate our documents into a next step where we just build validation rules is something that sounds like a big achievement.
It would be awesome if we can get a more detailed idea of what we would need to do in order to mov

[2022-03-03 12:09] magicmatatjahu opened #480 "New interface for custom schema parser"
#### Reason/Context

Currently, custom parsers for the massage's payload (and in the `3.0.0` AsyncAPI version this will be made available to all schemas) have two methods: `parse()`, which parses the given format into an AsyncAPI JSON Schema, which is later used in ModelAPI (in `2.0.0` version of lib it will be IntentAPI), and `getMimeTypes()` which returns the mime types that specify the given sc

[2022-03-03 12:22] magicmatatjahu opened #481 "Road to v2.0.0"
This issue contains list of possible features that we wanna introduce in the `v2.0.0` of ParserJS. Have in mind that some of them may not be implemented. You can also write your own proposals/features/PRs in the comments, I will update then the main list.

- [x] https://github.com/asyncapi/parser-js/issues/482
- [x] https://github.com/asyncapi/parser-js/issues/401
  - [x] https://github.com/asynca

[2022-03-03 12:31] magicmatatjahu commented on #480
I wonder if there should be also a method that would validate the example based on the schema (use case https://github.com/asyncapi/studio/issues/200). We can of course convert the format to AsyncAPI JSON Schema and validate on that, but I wonder if it would make sense. It should be discussed.

[2022-03-07 15:56] smoya opened #482 "Migrate project to TypeScript"
#### Reason/Context
[TypeScript](https://www.typescriptlang.org/) provides a really good set of features on top of Javascript. It is very opinionated and used widely across the whole OSS scene.

Some of the features I consider very interesting here are Static (or strict) typing and OOP syntax models including interfaces, classes, enums, etc.

All those things improve not only the Developer Experie

[2022-03-07 15:57] smoya commented on #481
@magicmatatjahu would you mind adding https://github.com/asyncapi/parser-js/issues/482 into the list?

[2022-03-07 15:58] magicmatatjahu commented on #481
@smoya Added :)

[2022-03-07 16:08] smoya commented on #201
I think you might be interested in joining https://github.com/asyncapi/parser-js/pull/453

[2022-03-07 20:12] magicmatatjahu commented on #482
@smoya I am 100% in favor of this! I can of course help with the rewriting. We can split it so that you take care of models and intent API and I will take care of validation (by spectral) and parsing. WDYT?

[2022-03-08 11:27] smoya commented on #482
That's awesome Maciej! Thanks for jumping in 💯 . Let's zap all previous code so we can freshly start with this! https://github.com/asyncapi/parser-js/pull/483

[2022-03-08 13:10] Souvikns commented on #482
@smoya would love to help, I have been reading parser for some time now and I wanted to get started with the project but didn't know where to start, I think this is the best time to get started since we are rewriting the whole parser. Just let me know how I can help.

[2022-03-09 14:33] smoya commented on #482
Hi @Souvikns! I'm so happy we can count on you! 🎉

Currently, I'm working on the the Model side, in particular building up all the new Models for the Intent-Driven API (See https://github.com/asyncapi/parser-js/issues/401).
@magicmatatjahu is working on the Parse logic side, which is also very large.
Maybe you @Souvikns could take one issue from https://github.com/asyncapi/parser-js/issues/481 tha

[2022-03-11 14:02] mcturco opened #490 "Update README with new logo banner"
#### Reason/Context
This is to replace the old AsyncAPI logo in this repo's README with the banner attached below that represents the new branding.

**Here are a few guidelines for this change as well:**
1. Make sure you are using [Markdown syntax](https://docs.github.com/en/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax) onl

[2022-03-11 14:04] mcturco commented on #490
/good-first-issue

[2022-03-11 14:09] magicmatatjahu commented on #482
@Souvikns @smoya Parser logic side is very complex than Models/Intent API, so maybe you @Souvikns can rewrite some models from old API to new with tests :) @smoya what do you think? At the moment a lot of things from issue https://github.com/asyncapi/parser-js/issues/481 can't be done because significant logic is missing.

[2022-03-11 14:14] Souvikns commented on #482
Yeah, I figured that, so I was exploring `spectral`, there are a lot of models that we have to rewrite I can help with that, if @smoya lets me 😄

[2022-03-11 14:21] KhudaDad414 commented on #490
/help

[2022-03-11 14:21] KhudaDad414 commented on #490
/gfi design

[2022-03-12 08:20] harshi1122 commented on #490
Hello @mcturco
I am new to Open Source
Could you please assign me this issue?
I would love to work on it!